Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

fix(dashboards): add TraceQL query to Recent Traces and aggregate metrics by endpoint
  backend/grafana/provisioning/dashboards/distributed-tracing.json
Due: backend

fix(dashboards): use text panel with clear instructions for viewing traces
  backend/grafana/provisioning/dashboards/distributed-tracing.json
Due: backend

fix(dashboards): use correct 'content' field for text panel
  backend/grafana/provisioning/dashboards/distributed-tracing.json
Due: backend

feat(observability): add trace_id to logs and implement Redis tracing
  backend/internal/cache/redis.go
  backend/internal/middleware/gin_logger.go
Due: backend

feat(observability): add custom business event tracing for domain operations
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  backend/internal/telemetry/business_events.go
Due: backend, API Handlers

docs(observability): add comprehensive testing framework and enhancements summary
  backend/docs/ENHANCEMENTS_SUMMARY.md
  backend/docs/TESTING_ENHANCEMENTS.md
  backend/scripts/test_enhancements.sh
Due: backend

claude crap deleted
  backend/docs/ENHANCEMENTS_SUMMARY.md
  backend/docs/TESTING_ENHANCEMENTS.md
  backend/scripts/test-api.sh
  backend/scripts/test-seed.sh
  backend/scripts/test_enhancements.sh
Due: backend

backend
  backend/internal/auth/oauth.go
  backend/internal/handlers/comments.go
  backend/internal/models/user.go
  backend/internal/search/reconciliation.go
Due: backend, Authentication, API Handlers, Data Models

docs
  backend/docs/OBSERVABILITY_ARCHITECTURE.md
Due: backend

web tests
  web/.gitignore
  web/e2e/tests/auth/oauth.spec.ts
Due: none

docs(architecture): design complete end-to-end client tracing system
  backend/docs/CLIENT_TRACING_ARCHITECTURE.md
Due: backend

feat(plugin/tracing): integrate telemetry with existing NetworkClient
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/NetworkClient.h
  plugin/src/tracing/TraceContext.cpp
  plugin/src/tracing/TraceContext.h
  plugin/src/tracing/UsageExample.h
Due: none

feat(plugin): integrate distributed tracing into Core library
  plugin/src/tracing/TraceContext.cpp
  plugin/src/tracing/TraceContext.h
  plugin/src/util/CMakeLists.txt
Due: none

feat(stores): introduce unified ReactiveStore pattern consolidating Store, ImmutableSlice, and EntitySlice
  plugin/src/stores/ReactiveStore.h
Due: none

feat(stores): introduce RootStore to replace 15-slice AppSliceManager facade
  plugin/src/stores/RootStore.h
  plugin/src/stores/app/AppState.h
Due: none

feat(ui): introduce ConnectedComponent simplifying component-store binding
  plugin/src/ui/common/ConnectedComponent.h
Due: none

feat(stores): flatten EntityCache hierarchy with per-type singleton caches
  plugin/src/stores/EntityStores.h
Due: none

refactor(stores): adopt SerializableModel<T> for type-safe JSON deserialization
  plugin/CMakeLists.txt
  plugin/cmake/CompilerFlags.cmake
  plugin/cmake/Dependencies.cmake
  plugin/src/models/AggregatedFeedGroup.cpp
  plugin/src/models/AggregatedFeedGroup.h
  plugin/src/stores/EntityStore.h
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Presence.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Service.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/ui/animations/AnimationController.cpp
  plugin/src/ui/animations/NavigationStack.cpp
  plugin/src/ui/animations/NavigationStack.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/profile/ArchivedPosts.cpp
  plugin/src/ui/profile/SavedPosts.cpp
  plugin/tests/FeedDataTest.cpp
Due: plugin

refactor(TIER1): Complete critical simplifications - Remove Store<T> and simplify AppSliceManager
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/AppStore.h
  plugin/src/stores/Store.h
  plugin/src/stores/app/Auth.cpp
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Draft.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Notifications.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Presence.cpp
  plugin/src/stores/app/Queries.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/stores/queries/AppStoreQueries.cpp
  plugin/src/stores/queries/AppStoreQueries.h
  plugin/src/stores/slices/AppSlices.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/notifications/NotificationBell.cpp
Due: none

plugin docs
  plugin/docs/TRACING_IMPLEMENTATION.md
Due: none

refactor(plugin): Implement EntityStore serialization and update JUCE audio API
  plugin/src/audio/AudioCapture.cpp
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/StreamChatClient.cpp
  plugin/src/stores/EntityStore.h
  plugin/src/ui/recording/Upload.cpp
Due: none

fix(plugin): resolve memory safety bugs in timer and modal dialogs
  plugin/src/ui/profile/TwoFactorSettings.cpp
  plugin/src/ui/search/Search.cpp
  plugin/src/util/Async.cpp
Due: none

feat(plugin): Implement MessageThread bounds calculations and user search parsing
  plugin/src/stores/app/Search.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: none

feat(plugin): Implement pin/unpin post API calls in AppStore
  plugin/src/stores/app/Feed.cpp
Due: none

feat(plugin): Implement MessageThread reaction handling and remaining bounds methods
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix: Fix audio format writer API usage and async mutex scope issues
  plugin/src/network/StreamChatClient.cpp
  plugin/src/util/Async.cpp
Due: none

feat(plugin): Implement core TODO features in MessageThread and AppStore
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread_stub.cpp
  plugin/src/ui/messages/ShareToMessageDialog.cpp
Due: none

fix(plugin): Use proper UTF-8 encoding for special characters in drawText()
  plugin/src/ui/messages/MessageThread.cpp
Due: none

feat(plugin): Implement plugin TODOs
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/ui/messages/ShareToMessageDialog.cpp
  plugin/tests/EntitySliceTest.cpp
Due: plugin

refactor: move TimeUtils into Sidechain namespace
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/ui/feed/AggregatedFeedCard.cpp
  plugin/src/ui/notifications/NotificationList.cpp
  plugin/src/util/Time.cpp
  plugin/src/util/Time.h
  plugin/tests/FeedDataTest.cpp
Due: plugin

refactor(tests): replace deprecated functions with SerializableModel API
  plugin/tests/FeedDataTest.cpp
Due: plugin

Fix three critical bugs in pagination, story filtering, and message scrolling
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: none

refactor(plugin): Task 3 - Fix pre-existing bugs blocking compilation
  plugin/src/stores/EntityStore.h
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(plugin): Fix 5 critical bugs in architecture (FileCache, EntityCache, StateSlice)
  plugin/src/stores/EntityCache.h
  plugin/src/stores/StateSlice.h
  plugin/src/util/cache/FileCache.h
  plugin/src/util/cache/ImageCache.cpp
Due: none

refactor(plugin): Task 4 - Flatten EntityCache Hierarchy
  plugin/cmake/Tests.cmake
  plugin/src/stores/slices/AppSlices.h
Due: none

fix: Complete plugin TODOs - playlist deletion, MIDI submission, feeds, and messaging
  backend/cmd/server/main.go
  backend/internal/handlers/playlists.go
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/PlaylistClient.cpp
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Upload.cpp
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/recording/Upload.h
Due: backend, API Handlers

fix(plugin): Fix FileInputStream constructor call in Upload.cpp
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/ui/messages/ShareToMessageDialog.cpp
  plugin/src/util/cache/FileCache.h
  plugin/tests/EntitySliceTest.cpp
Due: plugin

chore(plugin): remove deleted files
  plugin/src/stores/slices/EntitySlice.h
Due: none
