Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

fix(profile): use backend proxy endpoint for profile picture downloads
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/User.cpp
Due: none

fix(web): remove all remaining unused imports and variables
  web/src/components/chat/ChannelList.tsx
  web/src/components/chat/DirectMessageButton.tsx
  web/src/components/chat/MessageThread.tsx
  web/src/components/chat/NewMessageDialog.tsx
  web/src/components/comments/CommentRow.tsx
  web/src/components/comments/TypingIndicator.tsx
  web/src/components/feed/FeedList.tsx
  web/src/components/feed/PostCard.tsx
  web/src/components/playlists/AddToPlaylistDialog.tsx
  web/src/components/profile/PinnedPostsSection.tsx
  web/src/components/remixes/RemixChain.tsx
  web/src/components/remixes/RemixesList.tsx
  web/src/components/search/SearchFilters.tsx
  web/src/components/search/SearchUserCard.tsx
  web/src/components/stories/StoryHighlights.tsx
  web/src/components/ui/__tests__/avatar.test.tsx
  web/src/hooks/mutations/useCommentMutations.ts
Due: none

fix(web): restore props and imports that are actually used
  web/src/components/chat/DirectMessageButton.tsx
  web/src/components/feed/PostCard.tsx
  web/src/components/profile/PinnedPostsSection.tsx
  web/src/components/remixes/RemixChain.tsx
  web/src/components/search/SearchFilters.tsx
Due: none

fix(web): remove final unused imports from search components
  web/src/components/search/SearchFilters.tsx
  web/src/components/search/SearchUserCard.tsx
Due: none

refactor(auth): improve token error detection to handle multiple auth failure patterns
  plugin/src/core/PluginEditor.cpp
Due: none

notify vercel check
  .github/workflows/test-web.yml
Due: none

fix(web): move ChatProvider to protected routes only
  web/src/App.tsx
Due: none

fix(profile): eliminate race condition in profile image download
  plugin/src/stores/app/User.cpp
Due: none

fix: update OAuth endpoints to use /api/v1/ path structure
  web/src/pages/DeviceClaim.tsx
  web/src/pages/Login.tsx
Due: none

fix: make chat and notifications gracefully degrade when unavailable
  web/src/components/notifications/NotificationBell.tsx
  web/src/providers/ChatProvider.tsx
Due: none

fix: clean up console spam and disable non-functional features
  web/src/components/layout/Navigation.tsx
  web/src/providers/ChatProvider.tsx
Due: none

fix(stores): fix iterator corruption crashes when loading feed
  plugin/src/stores/app/Base.cpp
  plugin/src/stores/app/User.cpp
Due: none

feat: implement activity timeline endpoints
  backend/cmd/server/main.go
  backend/internal/handlers/activity.go
  web/src/pages/Activity.tsx
Due: backend, API Handlers

fix(backend/web): add username lookup and fix GORM query syntax
  backend/cmd/server/main.go
  backend/internal/handlers/user.go
  web/src/api/UserClient.ts
Due: backend, API Handlers

feat(infrastructure): add production deployment with GitHub Actions and Terraform
  .github/workflows/deploy.yml
  notes/DEPLOYMENT.md
  notes/DEPLOYMENT_CHECKLIST.md
  notes/DEPLOYMENT_SUMMARY.md
  terraform/README.md
  terraform/main.tf
  terraform/provisioning/setup.sh
Due: none

feat(infrastructure): add production docker-compose with Caddy and Let's Encrypt HTTPS
  backend/Caddyfile
  backend/docker-compose.prod.yml
Due: backend

fix(ci): update workflow to use production docker-compose with Caddy
  .github/workflows/deploy.yml
Due: none

refactor(ci): implement build-once-deploy-everywhere pattern
  .github/workflows/build-and-push.yml
  .github/workflows/deploy.yml
  backend/docker-compose.prod.yml
Due: backend

fix(feed): resolve silent feed loading failure - use proper logging system
  plugin/src/stores/app/Base.cpp
  plugin/src/stores/app/Feed.cpp
Due: none

fix: update gorse and deploy workflow to use production database credentials
  .github/workflows/deploy.yml
  backend/docker-compose.prod.yml
Due: backend

feat(deployment): implement Watchtower for automatic container updates
  .github/workflows/deploy.yml
  backend/docker-compose.dev.yml
  backend/docker-compose.prod.yml
  notes/deployment-setup.md
Due: backend
