Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

fix(ui): prevent scrollbar from overlapping header
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(ui): prevent text clipping in message bubbles
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(ui): make button positions responsive to window resize
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(ui): fix mouse wheel scroll detection for dynamic window resize
  plugin/src/ui/common/SmoothScrollable.h
  plugin/src/ui/messages/MessageThread.h
Due: none

fix(ui): integrate PostsFeed with SmoothScrollable for consistent scroll behavior
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
Due: none

fix(ci): correct backend test workflow to run tests on CI with docker-compose services
  .github/workflows/test-backend.yml
Due: none

fix(profile): hide follow/message buttons on own profile and show correct avatar in posts
  backend/internal/handlers/user.go
Due: backend, API Handlers

fix(deploy): update prod docker-compose to use new Gorse environment variable setup
  backend/docker-compose.prod.yml
Due: backend

fix(chat): replace static variable with std::optional to fix reply threading
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
Due: none

fix(deploy): use env_file instead of volume mount for .env in production
  backend/docker-compose.prod.yml
Due: backend

fix(chat): resolve WebSocket connection race condition
  plugin/src/network/StreamChatClient.cpp
Due: none

fix(cors): remove duplicate CORS headers from Caddy, let backend handle CORS
  backend/Caddyfile
Due: backend

fix(deployment): correct provisioning and docker-compose configuration
  terraform/main.tf
  terraform/provisioning/setup.sh
Due: none

fix(profile): correct profile update endpoint from /users/profile to /users/me
  web/src/api/UserProfileClient.ts
Due: none

feat(profile): add username editing to both profile dialog and settings
  backend/internal/handlers/user.go
  web/src/api/UserProfileClient.ts
  web/src/components/profile/EditProfileDialog.tsx
  web/src/pages/Settings.tsx
Due: backend, API Handlers

fix(security): prevent rate limiter bypass when Redis fails
  backend/internal/middleware/redis_rate_limit.go
Due: backend

fix(backend): add error logging to OAuth and muted user operations
  backend/internal/auth/oauth.go
  backend/internal/handlers/feed.go
Due: backend, Authentication, API Handlers

fix(backend): use proper logging for waveform upload failures
  backend/internal/audio/processor.go
Due: backend

feat(profile): add username update validation to backend
  backend/internal/handlers/user.go
Due: backend, API Handlers

fix(profile): properly persist username changes across page reloads
  backend/internal/handlers/user.go
  web/src/pages/Settings.tsx
  web/src/stores/useUserStore.ts
Due: backend, API Handlers

fix(auth): add timeout and fallback for session restore
  web/src/stores/useUserStore.ts
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
