Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat(backend): add Dockerfile and docker-compose backend service
  backend/Dockerfile
  backend/docker-compose.yml
  backend/gorse.toml
  backend/init.sql
Due: backend

feat: add Save/Bookmark Posts and Repost/Share to Feed (P0 Social)
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/reposts.go
  backend/internal/handlers/saved_posts.go
  backend/internal/models/user.go
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/network/CMakeLists.txt
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/AudioClient.cpp
  plugin/src/network/api/AuthClient.cpp
  plugin/src/network/api/ChallengesClient.cpp
  plugin/src/network/api/CommentsClient.cpp
  plugin/src/network/api/DownloadClient.cpp
  plugin/src/network/api/FeedClient.cpp
  plugin/src/network/api/NotificationClient.cpp
  plugin/src/network/api/PlaylistClient.cpp
  plugin/src/network/api/ProfileClient.cpp
  plugin/src/network/api/SearchClient.cpp
  plugin/src/network/api/SocialClient.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
  plugin/src/ui/feed/PostsFeed.cpp
Due: backend, API Handlers, Database Layer, Data Models

docker-compose backend env vars
  backend/docker-compose.yml
Due: backend

feat(plugin): add SavedPostsView to browse saved/bookmarked posts
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/ui/profile/CMakeLists.txt
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
  plugin/src/ui/profile/SavedPosts.cpp
  plugin/src/ui/profile/SavedPosts.h
Due: none

feat: add notification preferences system
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/notification_preferences.go
  backend/internal/models/notification_preferences_helper.go
  backend/internal/models/user.go
  backend/internal/stream/client.go
  plugin/src/ui/profile/CMakeLists.txt
  plugin/src/ui/profile/NotificationSettings.cpp
  plugin/src/ui/profile/NotificationSettings.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: backend, API Handlers, Stream.io Integration, Database Layer, Data Models

feat(plugin): add Story Highlights UI dialogs
  notes/SIDECHAIN_INSTAGRAM_TODO.md
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/ui/stories/CMakeLists.txt
  plugin/src/ui/stories/CreateHighlightDialog.cpp
  plugin/src/ui/stories/CreateHighlightDialog.h
  plugin/src/ui/stories/SelectHighlightDialog.cpp
  plugin/src/ui/stories/SelectHighlightDialog.h
Due: none

feat(plugin): add Direct Share to DMs for posts and stories
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/messages/CMakeLists.txt
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
  plugin/src/ui/messages/ShareToMessageDialog.cpp
  plugin/src/ui/messages/ShareToMessageDialog.h
  plugin/src/ui/stories/StoryViewer.cpp
  plugin/src/ui/stories/StoryViewer.h
Due: none

feat(backend): add post archive/unarchive functionality
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/archive.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  backend/internal/timeline/timeline.go
Due: backend, API Handlers, Database Layer, Data Models

feat(plugin): add NetworkClient methods for post archive
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/SocialClient.cpp
Due: none

feat(plugin): add ArchivedPosts UI component
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/ui/feed/CMakeLists.txt
  plugin/src/ui/feed/PostCard.h
  plugin/src/ui/profile/ArchivedPosts.cpp
  plugin/src/ui/profile/ArchivedPosts.h
  plugin/src/ui/profile/CMakeLists.txt
Due: none

feat(plugin): add archived posts navigation from profile
  plugin/src/core/PluginEditor.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: none

docs: mark feature #14 Post Archive as complete
  notes/SIDECHAIN_INSTAGRAM_TODO.md
Due: none

feat(plugin): add comprehensive error states with retry functionality
  plugin/src/ui/common/CMakeLists.txt
  plugin/src/ui/common/ErrorState.cpp
  plugin/src/ui/common/ErrorState.h
  plugin/src/ui/common/ToastNotification.cpp
  plugin/src/ui/common/ToastNotification.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/messages/MessagesList.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/search/Search.cpp
  plugin/src/ui/search/Search.h
Due: none

feat(backend): add post comment controls (Feature #12)
  backend/cmd/server/main.go
  backend/internal/handlers/audio.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/feed.go
  backend/internal/models/user.go
Due: backend, API Handlers, Data Models

feat(plugin): add comment controls to Upload UI (Feature #12)
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/AudioClient.cpp
  plugin/src/network/api/DownloadClient.cpp
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/common/Header.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/recording/Upload.h
  plugin/src/util/Animation.cpp
Due: none

feat(plugin): show comment status on PostCard (Feature #12)
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/ui/feed/PostCard.cpp
Due: none

feat(backend): add repost methods to stream client
  backend/internal/stream/client.go
  backend/internal/stream/interface.go
  backend/internal/stream/mock_client.go
Due: backend, Stream.io Integration

docs: mark feature #12 Post Comments Control as complete
  notes/SIDECHAIN_INSTAGRAM_TODO.md
Due: none

docs: mark Feature #2 (Save/Bookmark Posts) as complete
  notes/SIDECHAIN_INSTAGRAM_TODO.md
Due: none

feat(plugin): add skeleton loading screens for polished UX
  backend/cmd/server/main.go
  backend/internal/handlers/activity_status.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  backend/internal/websocket/presence.go
  notes/SIDECHAIN_INSTAGRAM_TODO.md
  plugin/src/ui/common/CMakeLists.txt
  plugin/src/ui/common/SkeletonLoader.cpp
  plugin/src/ui/common/SkeletonLoader.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/profile/ActivityStatusSettings.cpp
  plugin/src/ui/profile/ActivityStatusSettings.h
  plugin/src/ui/profile/CMakeLists.txt
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: backend, API Handlers, Data Models

Implement GetStream.io notifications with OS notification support
  backend/internal/handlers/reposts.go
  backend/internal/websocket/handler.go
  notes/GETSTREAM_NOTIFICATIONS_IMPLEMENTATION.md
  notes/GETSTREAM_NOTIFICATIONS_RESEARCH.md
  plugin/src/network/StreamChatClient.cpp
Due: backend, API Handlers
