Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat(web): add user search to search page
  web/src/pages/Search.tsx
Due: none

feat(search): Phase 0 - Backend foundation for Elasticsearch integration
  backend/cmd/migrate/main.go
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/handlers.go
  backend/internal/search/document.go
Due: backend, API Handlers

refactor(messaging): use AppStore instead of local storage for messages
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
Due: none

fix(web): improve feed error handling and logging
  web/src/components/feed/FeedList.tsx
Due: none

docs: clarify git commit discipline in development guide
  CLAUDE.md
Due: none

infrastructure: add AWS provider and improve email forwarder Terraform
  terraform/email_forwarder.tf
  terraform/main.tf
Due: none

chore: remove terraform plan binary artifacts
  terraform/tfplan
  terraform/tfplan2
  terraform/tfplan3
  terraform/tfplan_continue
  terraform/tfplan_final
  terraform/tfplan_fixed
Due: none

chore: update Claude Code settings configuration
  .claude/settings.json
Due: none

feat(search): add story indexing to Elasticsearch
  backend/internal/search/client.go
Due: backend

feat(search): add post re-indexing on engagement changes (Phase 0.6)
  backend/internal/handlers/comments.go
  backend/internal/handlers/user.go
  backend/internal/search/document.go
Due: backend, API Handlers

feat(plugin): UI improvements and chat/challenge integration
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/network/NetworkClient.cpp
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/recording/Recording.cpp
  plugin/src/ui/recording/Recording.h
  plugin/src/util/Constants.h
Due: none

feat(search): complete Phase 0 - Elasticsearch backend integration
  backend/internal/handlers/feed.go
  backend/internal/handlers/stories.go
Due: backend, API Handlers

feat(backend/email-forwarder): add retry logic and fix S3 key path
  backend/cmd/email-forwarder/main.go
Due: none

docs: add comprehensive email forwarding setup guide
  docs/EMAIL_SETUP.md
Due: none

feat(search): implement Phase 1 - search endpoints with Elasticsearch
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/discovery.go
Due: backend, API Handlers

fix(messaging): integrate AppStore state management for message persistence
  plugin/src/core/PluginEditor.cpp
Due: none

fix(web): resolve TypeScript errors in search page
  web/src/pages/Search.tsx
Due: none

fix(web): resolve duplicate SearchFilters declaration
  web/src/components/search/SearchFilters.tsx
Due: none

feat(plugin): implement search ui and autocomplete integration
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/SearchClient.cpp
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Search.cpp
Due: none

fix(backend): correct column names in search query fallback
  backend/internal/handlers/discovery.go
Due: backend, API Handlers

feat(web): complete search page and api integration
  web/src/api/SearchClient.ts
Due: none
