Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat(backend): Phase 7.2 - Add search alerts system
  backend/cmd/server/main.go
  backend/internal/alerts/alerts.go
  backend/internal/alerts/evaluator.go
  backend/internal/handlers/alerts.go
Due: backend, API Handlers

feat(activity-feed): implement Phase 5 - Real-time activity feed updates via WebSocket
  backend/internal/handlers/feed.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/message.go
  web/src/api/websocket.ts
  web/src/hooks/useWebSocket.ts
Due: backend, API Handlers

feat(typing-indicators): implement Phase 6 - Real-time typing indicators for comments
  backend/internal/websocket/handler.go
  web/src/hooks/useWebSocket.ts
Due: backend

chore(backend): remove legacy/orphaned search code
  backend/cmd/server/main.go
  backend/internal/search/cache.go
  backend/internal/search/document.go
Due: backend

feat(testing): add WebSocket integration tests for real-time features
  backend/tests/integration/websocket_integration_test.go
Due: backend

feat(presence): implement Phase 8 - Plugin direct presence updates to getstream.io
  plugin/src/core/PluginEditor.cpp
  plugin/src/util/CMakeLists.txt
  plugin/src/util/PresenceManager.cpp
  plugin/src/util/PresenceManager.h
Due: none

fix(chat): resolve message retrieval from getstream.io using raw JSON parsing
  plugin/src/network/StreamChatClient.cpp
Due: none

fix(chat): enable message retrieval with correct getstream.io query parameters
  plugin/src/network/StreamChatClient.cpp
Due: none

feat(security): implement explicit OAuth configuration and CI/CD pipeline
  .github/workflows/ci.yml
  backend/.env.example
  backend/.golangci.yml
  backend/cmd/server/main.go
  backend/internal/auth/service.go
  backend/internal/config/oauth.go
  notes/OAUTH_SETUP.md
Due: backend, Authentication

refactor(backend): comprehensive code cleanup - remove legacy/dead code and implement MIDI migration
  backend/internal/crdt/operational_transform.go
  backend/internal/database/database.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/messages.go
  backend/internal/handlers/midi_challenges.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/hub.go
Due: backend, API Handlers, Database Layer, Data Models

fix(plugin): fix 11 critical and medium severity bugs in VST plugin
  plugin/src/audio/AudioCapture.cpp
  plugin/src/audio/AudioCapture.h
  plugin/src/audio/BufferAudioPlayer.cpp
  plugin/src/audio/BufferAudioPlayer.h
  plugin/src/core/PluginProcessor.h
  plugin/src/network/WebSocketClient.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/util/reactive/ObservableCollection.h
Due: none

feat(animations): implement AnimationController singleton - Phase 2
  plugin/src/ui/CMakeLists.txt
  plugin/src/ui/animations/AnimationController.cpp
  plugin/src/ui/animations/AnimationController.h
  plugin/src/ui/animations/CMakeLists.txt
  plugin/src/ui/animations/Easing.h
  plugin/src/ui/animations/TransitionAnimation.h
Due: none

fix(backend): resolve compilation errors from MIDI field removal
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/stories.go
Due: backend, API Handlers, Database Layer

feat(navigation): implement NavigationStack component - Phase 2
  plugin/src/ui/animations/CMakeLists.txt
  plugin/src/ui/animations/NavigationStack.cpp
  plugin/src/ui/animations/NavigationStack.h
Due: none

feat(threading): implement TaskScheduler thread pool - Phase 2
  plugin/src/util/CMakeLists.txt
  plugin/src/util/TaskScheduler.cpp
  plugin/src/util/TaskScheduler.h
Due: none

feat(caching): implement template-based MemoryCache - Phase 2
  plugin/src/util/CMakeLists.txt
  plugin/src/util/cache/MemoryCache.h
Due: none

feat(stores): implement Redux-like slice architecture (Phase 2)
  plugin/src/stores/CMakeLists.txt
  plugin/src/stores/StateSlice.h
  plugin/src/stores/slices/AppSlices.h
Due: none

feat(ui): refactor PostCard animations to use centralized AnimationController
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: none

feat(ui): refactor PostsFeed animations to use centralized AnimationController
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
Due: none

feat(stores): add slice synchronization to AppStore update methods
  plugin/src/stores/StateSlice.h
  plugin/src/stores/app/Base.cpp
Due: none
