Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

fix: show success page in browser after OAuth login
  backend/internal/handlers/auth.go
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: backend, API Handlers

fix(ui): use CharPointer_UTF8 for Unicode arrow characters in Profile
  plugin/src/ui/profile/Profile.cpp
Due: none

feat: add logout button to profile settings page
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: none

fix: move logout button to settings page header
  plugin/src/core/PluginEditor.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: none

fix: always show OAuth success page in browser, don't fallback to redirect
  backend/internal/handlers/auth.go
Due: backend, API Handlers

feat(gorse): tune recommendation diversity settings (Task #9)
  backend/gorse.toml
Due: backend

fix(stores): correct profile update endpoint from /profile to /users/me
  plugin/src/stores/UserStore.cpp
Due: none

docs(gorse): mark Task #9 as complete in TODO plan
  notes/GORSE_TODO_LIST_PLAN.md
Due: none

fix: disable SecureTokenStore in Debug builds to avoid Keychain popups
  backend/internal/handlers/user.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/NetworkClient.h
Due: backend, API Handlers

fix(auth): redirect to auth screen when profile fetch fails on startup
  plugin/src/core/PluginEditor.cpp
Due: none

fix(auth): redirect to auth screen on authentication errors in feed
  plugin/src/core/PluginEditor.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
Due: none

fix(ui): add defensive null check in PostCard subscription callback
  plugin/src/ui/feed/PostCard.cpp
Due: none

fix: persist auth token in Debug builds for session continuity
  plugin/src/core/PluginEditor.cpp
Due: none

fix(ui): capture post ID by value in PostCard subscription to prevent crashes
  plugin/src/ui/feed/PostCard.cpp
Due: none

fix(ui): add atomic header for PostCard destruction flag
  plugin/src/ui/feed/PostCard.h
Due: none

feat(feed): add is_following state to timeline feed posts
  backend/internal/handlers/feed.go
Due: backend, API Handlers

fix: correct TOML syntax in gorse configuration
  backend/gorse.toml
Due: backend

fix: serialize JUCE URL requests to prevent CFNetwork caching crashes
  plugin/src/stores/ImageCache.cpp
Due: none

fix(ui): prevent PostCard destruction crash using SafePointer
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: none

fix: increase logo width and handle same-view navigation
  plugin/src/core/PluginEditor.cpp
  plugin/src/ui/common/Header.cpp
Due: none

feat(plugin): integrate Gorse recommendation feeds and CTR tracking
  plugin/src/network/api/FeedClient.cpp
  plugin/src/stores/FeedStore.cpp
  plugin/src/stores/FeedStore.h
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
