Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

feat(stores): complete Phase 2.5 store extensions for reactive UI
  backend/docker-compose.yml
  plugin/src/core/PluginEditor.cpp
  plugin/src/stores/CMakeLists.txt
  plugin/src/stores/ChatStore.cpp
  plugin/src/stores/ChatStore.h
  plugin/src/stores/DraftStore.cpp
  plugin/src/stores/DraftStore.h
  plugin/src/stores/UserStore.h
  plugin/src/ui/animations/TransitionAnimation.h
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: backend

docs: Phase 2.4 analysis - EditProfile & Profile complexity assessment
  notes/PHASE_2_4_ANALYSIS.md
Due: none

feat(ui): Phase 2.4.1 - EditProfile reactive refactoring
  plugin/src/core/PluginEditor.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
Due: none

feat(gorse): implement auto-sync on content creation and updates (Task #2)
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/crdt/operational_transform.go
  backend/internal/database/database.go
  backend/internal/handlers/archive.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  backend/internal/middleware/ratelimit.go
  backend/internal/models/error_log.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/hub.go
  backend/internal/websocket/message.go
  docs/BACKEND_INVESTIGATION_NOTES.md
  docs/plugin-architecture/index.rst
  notes/BACKEND_INVESTIGATION_REPORT.md
  notes/GORSE_TODO_LIST_PLAN.md
  notes/MODERNIZATION_EVALUATION_REPORT.md
Due: backend, API Handlers, Database Layer, Data Models

docs: Phase 2.4.1 completion summary - EditProfile reactive refactoring
  notes/PHASE_2_4_1_COMPLETION_SUMMARY.md
Due: none

feat(gorse): implement background batch sync jobs (Task #3)
  backend/cmd/server/main.go
  notes/GORSE_TODO_LIST_PLAN.md
  plugin/src/core/PluginEditor.cpp
Due: none

docs(gorse): comprehensive monitoring and dashboard guide (Task #4)
  notes/GORSE_MONITORING_GUIDE.md
  notes/GORSE_TODO_LIST_PLAN.md
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: none

feat(ui): Phase 2.4.2 - Profile reactive refactoring with dual mode
  plugin/src/core/PluginEditor.cpp
Due: none

feat(ui): Profile reactive refactoring implementation files
  plugin/src/ui/profile/Profile.cpp
Due: none

feat(gorse): add negative feedback signals (Task #5)
  backend/cmd/server/main.go
  backend/gorse.toml
  backend/internal/handlers/recommendations.go
  notes/GORSE_TODO_LIST_PLAN.md
  plugin/src/stores/FeedStore.cpp
  plugin/src/stores/FeedStore.h
Due: backend, API Handlers

fix(messaging): extract users array from API responses in discovery client
  plugin/src/network/api/DiscoveryClient.cpp
Due: none

feat(recommendations): add genre and BPM filtering support for recommendations
  backend/internal/handlers/recommendations.go
  backend/internal/recommendations/gorse_rest.go
  plugin/src/ui/profile/Profile.cpp
Due: backend, API Handlers

feat(gorse): add popular and latest recommendation endpoints (Task #7)
  backend/cmd/server/main.go
  backend/internal/handlers/recommendations.go
  backend/internal/recommendations/gorse_rest.go
Due: backend, API Handlers

docs(gorse): mark Task #7 as complete in TODO plan
  notes/GORSE_TODO_LIST_PLAN.md
Due: none

feat(gorse): add blended discovery feed endpoint (Task #7.4)
  backend/cmd/server/main.go
  backend/internal/handlers/recommendations.go
Due: backend, API Handlers

docs(gorse): mark Task #7.4 as complete in TODO plan
  notes/GORSE_TODO_LIST_PLAN.md
Due: none

feat(gorse): implement CTR tracking loop (Task #8)
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/recommendations.go
  backend/internal/models/recommendation_impression.go
  backend/internal/recommendations/ctr.go
Due: backend, API Handlers, Database Layer, Data Models

docs(gorse): mark Task #8 as complete in TODO plan
  notes/GORSE_TODO_LIST_PLAN.md
Due: none

fix: resolve backend endpoint and database mapping issues
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  plugin/src/network/api/StoriesClient.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: backend, API Handlers, Data Models

docs: document rate limiter design decisions for Task 4.18
  plugin/src/network/NetworkClient.cpp
Due: none

fix: show success page in browser after OAuth login
  backend/internal/handlers/auth.go
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: backend, API Handlers

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
