Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat(plugin): integrate Gorse recommendation feeds and CTR tracking
  plugin/src/network/api/FeedClient.cpp
  plugin/src/stores/FeedStore.cpp
  plugin/src/stores/FeedStore.h
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

fix: make target view visible before starting animation
  plugin/src/core/PluginEditor.cpp
Due: none

docs: add comprehensive Gorse recommendation system architecture
  plugin/docs/architecture/gorse-recommendations.md
Due: none

docs: add comprehensive plugin architecture overview
  plugin/docs/architecture/README.md
Due: none

feat(seed): add Gorse sync and 10x seed data with realistic distribution
  backend/cmd/seed/main.go
  backend/internal/seed/seeder.go
Due: backend

fix: ensure components are properly visible during and after animation
  plugin/src/core/PluginEditor.cpp
Due: none

fix: correct typo in MessageThread namespace qualifier
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix: call loadFeed() BEFORE animation to ensure feed is ready
  plugin/src/core/PluginEditor.cpp
Due: none

fix: Skip animation for PostsFeed navigation to fix first-click issue
  plugin/src/core/PluginEditor.cpp
Due: none

fix: add user enrichment to all recommendation feeds
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
Due: backend, API Handlers

feat(backend): Add hot reload development setup with docker-compose
  backend/.air.toml
  backend/Dockerfile.dev
  backend/Makefile
  backend/docker-compose.dev.yml
Due: backend

fix(backend): Fix hot reload docker-dev setup
  backend/.air.toml
  backend/Dockerfile.dev
  backend/Makefile
Due: backend

feat(backend): Add complete service definitions to docker-compose.dev.yml
  backend/docker-compose.dev.yml
Due: backend

fix(backend): Simplify docker-compose.dev.yml to be identical to base except Dockerfile.dev and code mount
  backend/docker-compose.dev.yml
Due: backend

fix: use avatar_url field name for plugin compatibility
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
Due: backend, API Handlers

fix(backend): use database IDs consistently for follow relationships
  backend/internal/handlers/feed.go
  backend/internal/handlers/follow_requests.go
  backend/internal/handlers/user.go
  backend/internal/stream/client.go
Due: backend, API Handlers, Stream.io Integration

fix(plugin): update feed cache on follow/unfollow and add SafePointer for PostCard
  plugin/src/stores/FeedStore.cpp
  plugin/src/ui/feed/PostCard.cpp
Due: none

chore(backend): add Gorse configuration to .env.example
  backend/.env.example
Due: backend

refactor(backend): rename WaveformSVG to WaveformPNG/WaveformURL
  backend/internal/audio/ffmpeg.go
  backend/internal/audio/processor.go
  backend/internal/models/user.go
  backend/internal/queue/audio_jobs.go
  backend/internal/queue/ffmpeg_helpers.go
Due: backend, Data Models

fix(backend): use database IDs for follow state in discovery endpoints
  backend/internal/handlers/discovery.go
Due: backend, API Handlers

fix(backend): update sounds.go to use waveform_url field
  backend/docker-compose.dev.yml
  backend/internal/handlers/sounds.go
Due: backend, API Handlers
