Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

fix(search): switch from Elasticsearch 8.11 to OpenSearch 3.4.0 for 4GB server
  backend/docker-compose.prod.yml
Due: backend

fix(backend): use StreamUserID instead of database ID for Stream.io sync
  backend/internal/handlers/user.go
Due: backend, API Handlers

feat(plugin): implement message editing to send changes to backend
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Chat.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: none

feat(plugin): implement message deletion
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Chat.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: none

docs: update TODO_BUG_0.md with completed fixes (MSG-3, MSG-5, PROF-3-5, CHAT-1-2)
  notes/TODO_BUG_0.md
Due: none

fix(plugin): implement reply threading to find parent messages
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(docker): enforce CPU/memory limits using proper directives
  backend/docker-compose.prod.yml
Due: backend

fix(plugin): prevent WebSocket connection race condition
  plugin/src/network/StreamChatClient.cpp
Due: none

fix(docker): disable OpenSearch security plugin to prevent infinite setup loop
  backend/docker-compose.prod.yml
Due: backend

fix(plugin): add error handling for cache manifest persistence
  plugin/src/util/cache/FileCache.h
Due: none

fix(docker): disable OpenSearch due to persistent security plugin CPU spin
  backend/docker-compose.prod.yml
Due: backend

feat(backend): record database and Redis metrics
  backend/internal/cache/redis.go
  backend/internal/database/database.go
Due: backend, Database Layer

fix(gorse): implement environment variable substitution for dev and production
  backend/docker-compose.yml
  backend/entrypoint-gorse.sh
  backend/gorse.toml.template
Due: backend

fix(metrics): configure Prometheus Redis/Postgres exporters
  backend/docker-compose.yml
  backend/prometheus.yml
Due: backend

fix(metrics): simplify exporter healthcheck dependencies
  backend/docker-compose.yml
Due: backend

fix(ci): update docker compose commands for GitHub Actions compatibility
  .github/workflows/test-backend.yml
  .github/workflows/test-web.yml
Due: none

fix(metrics): exclude /metrics endpoint from gzip compression
  backend/cmd/server/main.go
Due: none

fix(plugin): flush cache state on plugin shutdown
  plugin/src/core/PluginProcessor.cpp
  plugin/src/stores/AppStore.h
Due: none

fix(plugin): persist drafts on plugin shutdown
  plugin/src/core/PluginProcessor.cpp
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Draft.cpp
Due: none

fix(ui): fix component overlap and z-order issues
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(ui): prevent scrollbar from overlapping header
  plugin/src/ui/messages/MessageThread.cpp
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
