Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

fix(plugin): Fix coverage instrumentation and ensure coverage generation always runs
  .github/workflows/test-plugin.yml
  plugin/CMakeLists.txt
  plugin/src/audio/CMakeLists.txt
  plugin/src/core/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/util/CMakeLists.txt
Due: none

feat(container): Implement dependency injection container system
  backend/internal/container/IMPLEMENTATION_SUMMARY.md
  backend/internal/container/INTEGRATION_GUIDE.md
  backend/internal/container/README.md
  backend/internal/container/container.go
  backend/internal/container/errors.go
  backend/internal/container/mock.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/sounds.go
Due: backend, API Handlers

refactor(docs): Reorganize documentation into docs/ folder structure
  backend/internal/container/container.go
  backend/internal/container/errors.go
  backend/internal/container/mock.go
  backend/internal/handlers/sounds.go
  docs/README.md
  docs/architecture/DI_CONTAINER_IMPLEMENTATION.md
  docs/architecture/DI_CONTAINER_OVERVIEW.md
  docs/architecture/README.md
  docs/guides/DISTRIBUTED_TRACING.md
  docs/guides/DI_CONTAINER_INTEGRATION.md
  docs/guides/README.md
  docs/guides/TRACING_TEST_RESULTS.md
Due: backend, API Handlers

backend go mod vendor
  backend/go.mod
  backend/go.sum
Due: backend

refactor(handlers): Replace direct service field access with DI container
  backend/internal/handlers/activity.go
  backend/internal/handlers/archive.go
  backend/internal/handlers/audio.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/follow_requests.go
  backend/internal/handlers/midi_challenges.go
  backend/internal/handlers/notifications.go
  backend/internal/handlers/reactions.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/remixes.go
  backend/internal/handlers/reposts.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/two_factor.go
  backend/internal/handlers/user.go
Due: backend, API Handlers

feat(di): Integrate dependency injection container into main.go
  backend/cmd/server/main.go
Due: none

refactor: Rename container package to kernel
  backend/cmd/server/main.go
  backend/internal/handlers/activity.go
  backend/internal/handlers/alerts.go
  backend/internal/handlers/archive.go
  backend/internal/handlers/audio.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/follow_requests.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/midi_challenges.go
  backend/internal/handlers/midi_generator.go
  backend/internal/handlers/mute.go
  backend/internal/handlers/notifications.go
  backend/internal/handlers/reactions.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/remixes.go
  backend/internal/handlers/reposts.go
  backend/internal/handlers/sounds.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/stories_handlers_test.go
  backend/internal/handlers/two_factor.go
  backend/internal/handlers/user.go
  backend/internal/kernel/container.go
  backend/internal/kernel/errors.go
  backend/internal/kernel/mock.go
  docs/README.md
  docs/architecture/DI_KERNEL_IMPLEMENTATION.md
  docs/architecture/DI_KERNEL_OVERVIEW.md
  docs/guides/DI_KERNEL_INTEGRATION.md
  docs/guides/README.md
Due: backend, API Handlers

feat(backend): Add service validation on startup
  backend/.env.example
  backend/cmd/server/main.go
  backend/internal/validation/validation.go
Due: backend

fix(plugin): Apply global coverage flags while excluding Catch2 from instrumentation
  plugin/CMakeLists.txt
  plugin/cmake/Tests.cmake
Due: none

backend laptop
  backend/internal/dto/user.go
  backend/internal/seed/seeder.go
Due: backend

go mod vendor
  backend/go.mod
  backend/go.sum
Due: backend

get rid of warnings a juce cached
  .github/workflows/test-plugin.yml
  CLAUDE.md
  plugin/cmake/CompilerFlags.cmake
  plugin/cmake/JUCECache.cmake
  plugin/cmake/Tests.cmake
  plugin/cmake/juce_cache/CMakeLists.txt
  plugin/src/audio/CMakeLists.txt
  plugin/src/core/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/tests/AudioCaptureTest.cpp
  plugin/tests/NetworkClientTest.cpp
  plugin/tests/PostCardTest.cpp
Due: plugin

merge
  Makefile
  scripts/test_plugin.sh
Due: none

fix(backend): Use parameterized query to prevent SQL injection
  backend/internal/handlers/discovery_test.go
Due: backend, API Handlers

fix: Remove debug print statements and improve logging
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  plugin/src/stores/app/Comments.cpp
Due: backend, API Handlers

fix: Remove debug logging and fix user DTO genre bug
  backend/internal/dto/user.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  plugin/src/stores/app/Comments.cpp
Due: backend, API Handlers

fix: Address multiple bugs in backend validation and error handling
  backend/internal/auth/service.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/two_factor.go
  backend/internal/util/context.go
  backend/internal/util/validation.go
Due: backend, Authentication, API Handlers

fix(backend): Add error handling and safe type assertions
  backend/internal/handlers/activity_status.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/midi.go
  backend/internal/handlers/midi_challenges.go
  backend/internal/handlers/project_files.go
  backend/internal/handlers/user.go
  backend/internal/middleware/correlation.go
Due: backend, API Handlers

fix: Address multiple bugs across backend and plugin
  backend/internal/database/database.go
  backend/internal/handlers/audio.go
  backend/internal/handlers/auth.go
  backend/internal/websocket/hub.go
  plugin/src/stores/app/Feed.cpp
  plugin/src/ui/feed/Comment.cpp
Due: backend, API Handlers, Database Layer

Fix race condition in websocket hub sendToUser function
  backend/internal/websocket/hub.go
Due: backend

Fix bugs in user.go: unchecked json.Unmarshal and context capture in goroutines
  backend/internal/handlers/user.go
Due: backend, API Handlers

Fix memory leaks, null pointer dereferences, and race conditions
  backend/internal/recommendations/gorse_rest.go
  backend/internal/util/file.go
  backend/internal/websocket/hub.go
  plugin/src/network/StreamChatClient.cpp
  plugin/src/ui/common/ToastNotification.cpp
Due: backend

Fix multiple bugs: memory leaks, security, and negative counts
  backend/internal/handlers/metrics.go
  plugin/src/stores/app/Feed.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/Comment.h
Due: backend, API Handlers

Fix use-after-free bugs and unchecked error handling
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  backend/internal/stream/client.go
  plugin/src/audio/BufferAudioPlayer.cpp
  plugin/src/audio/BufferAudioPlayer.h
  plugin/src/audio/HttpAudioPlayer.cpp
  plugin/src/audio/HttpAudioPlayer.h
Due: backend, API Handlers, Stream.io Integration

Fix unchecked error returns across Go backend
  backend/cmd/test-wav/main.go
  backend/internal/audio/ffmpeg.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/project_files.go
  backend/internal/middleware/redis_rate_limit.go
  backend/internal/queue/ffmpeg_helpers.go
  backend/internal/stream/client.go
Due: backend, API Handlers, Stream.io Integration

Refactor store code to eliminate duplicated patterns
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/util/PostInteractionHelper.h
  plugin/src/stores/util/StoreUtils.h
  plugin/src/stores/util/UserLoadingHelper.h
Due: none

Replace fmt.Printf/Println with zap logger throughout server code
  backend/internal/auth/oauth.go
  backend/internal/auth/service.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
  backend/internal/search/client.go
  backend/internal/search/version.go
  backend/internal/stream/client.go
  backend/internal/timeline/timeline.go
Due: backend, Authentication, API Handlers, Stream.io Integration

Refactor plugin UI to use UIHelpers for avatar and follow button drawing
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/ui/social/UserCard.cpp
  plugin/src/util/UIHelpers.cpp
  plugin/src/util/UIHelpers.h
Due: none

Refactor plugin UI: add drawAvatarWithInitials helper, simplify hover patterns
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/notifications/NotificationList.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/ui/social/UserCard.cpp
  plugin/src/util/UIHelpers.cpp
  plugin/src/util/UIHelpers.h
Due: none

Replace remaining printf/println with zap logger across all backend packages
  backend/internal/audio/ffmpeg.go
  backend/internal/audio/processor.go
  backend/internal/challenges/notifications.go
  backend/internal/database/database.go
  backend/internal/fingerprint/fingerprint.go
  backend/internal/handlers/activity_status.go
  backend/internal/handlers/archive.go
  backend/internal/handlers/audio.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/follow_requests.go
  backend/internal/handlers/metrics.go
  backend/internal/handlers/midi_challenges.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/two_factor.go
  backend/internal/handlers/user.go
  backend/internal/queue/audio_jobs.go
  backend/internal/recommendations/ctr.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/seed/seeder.go
  backend/internal/stories/cleanup.go
  backend/internal/validation/validation.go
  backend/internal/websocket/client.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/hub.go
Due: backend, API Handlers, Database Layer

Refactor toggle button styling into UIHelpers utility
  plugin/src/ui/profile/ActivityStatusSettings.cpp
  plugin/src/ui/profile/NotificationSettings.cpp
  plugin/src/ui/profile/PrivacySettings.cpp
  plugin/src/util/UIHelpers.cpp
  plugin/src/util/UIHelpers.h
Due: none

Refactor plugin: extract common patterns into utility functions
  plugin/src/network/api/Common.h
  plugin/src/network/api/DiscoveryClient.cpp
  plugin/src/network/api/FeedClient.cpp
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/Comment.h
  plugin/src/util/UIHelpers.cpp
  plugin/src/util/UIHelpers.h
Due: none

Refactor: use StringUtils and UIHelpers throughout the codebase
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/ProfileSetup.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/ui/social/UserCard.cpp
  plugin/src/ui/stories/SelectHighlightDialog.cpp
  plugin/src/ui/stories/StoriesFeed.cpp
  plugin/src/ui/stories/StoryHighlights.cpp
  plugin/src/ui/stories/StoryViewer.cpp
Due: none

refactor: use centralized utility functions for colors and JSON
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/stories/CircularVisualization.cpp
  plugin/src/ui/stories/NoteWaterfall.cpp
  plugin/src/ui/stories/PianoRoll.cpp
Due: none

Adopt plugin utilities across codebase
  plugin/src/network/StreamChatClient.cpp
  plugin/src/ui/common/ConnectionIndicator.h
  plugin/src/ui/recording/DraftsView.cpp
  plugin/src/ui/recording/DraftsView.h
  plugin/src/ui/stories/CircularVisualization.cpp
  plugin/src/ui/stories/NoteWaterfall.cpp
  plugin/src/ui/stories/PianoRoll.cpp
  plugin/src/ui/stories/StoryViewer.cpp
Due: none

Refactor API clients to use createJsonObject utility
  plugin/src/network/api/AuthClient.cpp
  plugin/src/network/api/CommentsClient.cpp
  plugin/src/network/api/FeedClient.cpp
  plugin/src/network/api/ProfileClient.cpp
  plugin/src/network/api/SocialClient.cpp
Due: none

Adopt Json utilities in network API clients
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/api/AudioClient.cpp
  plugin/src/network/api/AuthClient.cpp
  plugin/src/network/api/CommentsClient.cpp
  plugin/src/network/api/NotificationClient.cpp
  plugin/src/network/api/UploadDownloadClient.cpp
Due: none

refactor: continue adoption of centralized utilities
  plugin/src/network/StreamChatClient.cpp
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/sounds/SoundPage.cpp
  plugin/src/ui/sounds/SoundPage.h
  plugin/src/ui/stories/StoriesFeed.cpp
Due: none

Fix critical bugs: array bounds checking and context propagation
  backend/internal/recommendations/gorse_rest.go
  plugin/src/network/StreamChatClient.cpp
  plugin/src/ui/auth/Auth.cpp
Due: backend

Fix critical and high-priority security and concurrency bugs
  backend/internal/handlers/auth.go
  backend/internal/queue/audio_jobs.go
  backend/internal/timeline/timeline.go
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/WebSocketClient.cpp
  plugin/src/security/SecureTokenStore.cpp
Due: backend, API Handlers
