Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin

feat(backend): add Comment model with threading and mentions
  backend/internal/database/database.go
  backend/internal/handlers/comments_test.go
  backend/internal/models/user.go
Due: backend

feat(backend): implement comment system handlers and routes
  backend/cmd/server/main.go
  backend/internal/handlers/handlers.go
  backend/internal/stream/client.go
Due: backend

feat(plugin): add CommentComponent for displaying comments
  plugin/Source/CommentComponent.cpp
  plugin/Source/CommentComponent.h
Due: plugin

feat(plugin): integrate notification API and enhance feed posts
  plugin/Source/FeedPost.cpp
  plugin/Source/FeedPost.h
  plugin/Source/NetworkClient.cpp
  plugin/Source/NetworkClient.h
  plugin/Source/NotificationListComponent.cpp
  plugin/Source/PluginEditor.cpp
  plugin/Source/PluginEditor.h
Due: plugin

feat(plugin): enhance post cards and feed UI
  plugin/Source/AuthComponent.cpp
  plugin/Source/PostCardComponent.cpp
  plugin/Source/PostCardComponent.h
  plugin/Source/PostsFeedComponent.cpp
Due: plugin

feat(backend): enhance auth with profile picture and .env updates
  backend/.env.example
  backend/internal/auth/oauth.go
  backend/internal/auth/service.go
  backend/internal/handlers/auth.go
Due: backend

refactor(backend): clean up WebSocket message types
  backend/internal/websocket/client.go
  backend/internal/websocket/hub.go
  backend/internal/websocket/message.go
  backend/internal/websocket/websocket_test.go
Due: backend

docs: mark Phase 1.2 and 5.4 as complete in PLAN.md
  notes/PLAN.md
Due: none

test(plugin): add NetworkClient notification and profile tests
  plugin/tests/NetworkClientTest.cpp
Due: none

test(backend): add auth handler tests and storage interface
  backend/internal/handlers/auth_test.go
  backend/internal/storage/interface.go
Due: backend

refactor(plugin): add models/ and stores/ folders, move KeyDetector
  plugin/CMakeLists.txt
  plugin/Source/FeedPost.h
  plugin/Source/PluginEditor.h
  plugin/Source/audio/KeyDetector.cpp
  plugin/Source/audio/KeyDetector.h
  plugin/Source/models/AggregatedFeedGroup.h
  plugin/Source/models/AggregatedFeedResponse.h
  plugin/Source/models/FeedPost.cpp
  plugin/Source/models/FeedPost.h
  plugin/Source/models/FeedResponse.h
  plugin/Source/network/FeedDataManager.h
  plugin/Source/stores/UserDataStore.cpp
  plugin/Source/stores/UserDataStore.h
  plugin/Source/ui/feed/EmojiReactionsPanel.h
  plugin/Source/ui/feed/PostCardComponent.h
  plugin/Source/ui/feed/PostsFeedComponent.h
  plugin/Source/ui/profile/ProfileComponent.cpp
  plugin/Source/ui/profile/ProfileComponent.h
  plugin/Source/ui/recording/UploadComponent.h
  plugin/tests/FeedDataTest.cpp
Due: plugin

feat(plugin): add Log utility for debug/info/warn/error logging
  plugin/CMakeLists.txt
  plugin/source/util/Log.cpp
  plugin/source/util/Log.h
Due: none

feat(plugin): add ImageCache utility for async image loading with LRU cache
  plugin/CMakeLists.txt
  plugin/source/util/ImageCache.cpp
  plugin/source/util/ImageCache.h
Due: none

Add ASIO and websocketpp as git submodules
  .gitmodules
Due: none

Fix AudioPlayer make_unique compilation error
  plugin/source/audio/AudioPlayer.cpp
  plugin/source/audio/AudioPlayer.h
Due: none

Add ASIO compatibility layer for websocketpp
  plugin/source/network/asio_compat.h
Due: none

Add backend seed data and search functionality
  backend/SEED_DATA.md
  backend/cmd/seed/main.go
  backend/internal/search/client.go
  backend/internal/seed/seeder.go
  backend/scripts/test-api.sh
  backend/scripts/test-seed.sh
  backend/scripts/verify-seed.go
Due: backend

Path conditions:
  backend: any of: backend/, but not: **/*_test.go, **/tests/**, **/mock_*.go, backend/cmd/**, plugin/tests/**, deps/**
  plugin: any of: plugin/Source/, but not: **/*_test.go, **/tests/**, **/mock_*.go, backend/cmd/**, plugin/tests/**, deps/**
