Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

Implement GetStream.io notifications with OS notification support
  backend/internal/handlers/reposts.go
  backend/internal/websocket/handler.go
  notes/GETSTREAM_NOTIFICATIONS_IMPLEMENTATION.md
  notes/GETSTREAM_NOTIFICATIONS_RESEARCH.md
  plugin/src/network/StreamChatClient.cpp
Due: backend, API Handlers

Add OS notifications toggle setting
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/StreamChatClient.h
  plugin/src/stores/UserDataStore.cpp
  plugin/src/stores/UserDataStore.h
  plugin/src/ui/profile/NotificationSettings.cpp
  plugin/src/ui/profile/NotificationSettings.h
Due: none

docs: mark Feature #4 Direct Share to DMs as complete
  notes/SIDECHAIN_INSTAGRAM_TODO.md
Due: none

feat(plugin): implement Drafts System (Feature #5)
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/stores/CMakeLists.txt
  plugin/src/stores/DraftStorage.cpp
  plugin/src/stores/DraftStorage.h
  plugin/src/ui/recording/CMakeLists.txt
  plugin/src/ui/recording/DraftsView.cpp
  plugin/src/ui/recording/DraftsView.h
  plugin/src/ui/recording/Recording.cpp
  plugin/src/ui/recording/Recording.h
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/recording/Upload.h
Due: none

feat: implement Mute Users without blocking (Feature #10)
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/mute.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  backend/internal/timeline/timeline.go
  notes/SIDECHAIN_INSTAGRAM_TODO.md
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/SocialClient.cpp
  plugin/src/ui/common/ToastNotification.h
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: backend, API Handlers, Database Layer, Data Models

feat: implement Pin Posts to Profile (Feature #13)
  backend/cmd/server/main.go
  backend/internal/handlers/pinned_posts.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  notes/SIDECHAIN_INSTAGRAM_TODO.md
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/SocialClient.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: backend, API Handlers, Data Models

feat: implement Two-Factor Authentication (Feature #16)
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/auth/service.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/two_factor.go
  backend/internal/models/user.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/AuthClient.cpp
  plugin/src/ui/auth/Auth.cpp
  plugin/src/ui/auth/Auth.h
  plugin/src/ui/profile/CMakeLists.txt
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
  plugin/src/ui/profile/TwoFactorSettings.cpp
  plugin/src/ui/profile/TwoFactorSettings.h
Due: backend, Authentication, API Handlers, Data Models

chore: remove Feature # tracking comments from codebase
  backend/internal/database/database.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/mute.go
  backend/internal/handlers/user.go
  backend/internal/timeline/timeline.go
  backend/internal/websocket/presence.go
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/network/api/AudioClient.cpp
  plugin/src/network/api/SocialClient.cpp
  plugin/src/ui/profile/ActivityStatusSettings.h
  plugin/src/ui/recording/Recording.cpp
  plugin/src/ui/recording/Recording.h
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/recording/Upload.h
Due: backend, API Handlers, Database Layer

todolist update
  notes/SIDECHAIN_INSTAGRAM_TODO.md
Due: none

feat(backend): implement Sound/Sample Pages (Feature #15)
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/fingerprint/fingerprint.go
  backend/internal/handlers/sounds.go
  backend/internal/models/user.go
  backend/internal/queue/audio_jobs.go
Due: backend, API Handlers, Database Layer, Data Models

fix: resolve segfaults from premature setSize() calls in constructors
  plugin/src/ui/messages/ShareToMessageDialog.cpp
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/profile/ActivityStatusSettings.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/NotificationSettings.cpp
  plugin/src/ui/stories/CreateHighlightDialog.cpp
  plugin/src/ui/stories/SelectHighlightDialog.cpp
Due: none

feat: add follow request notifications for private accounts
  backend/internal/handlers/follow_requests.go
  backend/internal/stream/client.go
  backend/internal/stream/interface.go
  backend/internal/stream/mock_client.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/message.go
  notes/SIDECHAIN_INSTAGRAM_TODO.md
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/NotificationClient.cpp
  plugin/src/ui/notifications/NotificationBell.cpp
  plugin/src/ui/notifications/NotificationBell.h
Due: backend, API Handlers, Stream.io Integration

feat(plugin): add Sound/Sample Pages UI (Feature #15)
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/models/Sound.h
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/SocialClient.cpp
  plugin/src/ui/CMakeLists.txt
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/sounds/CMakeLists.txt
  plugin/src/ui/sounds/SoundPage.cpp
  plugin/src/ui/sounds/SoundPage.h
Due: none

feat: add mandatory filename support for audio posts and stories
  backend/internal/handlers/audio.go
  backend/internal/handlers/stories.go
  backend/internal/models/midi.go
  backend/internal/models/user.go
  backend/internal/util/validation.go
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/models/Story.cpp
  plugin/src/models/Story.h
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/AudioClient.cpp
  plugin/src/stores/DraftStorage.cpp
  plugin/src/stores/DraftStorage.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/recording/DraftsView.cpp
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/recording/Upload.h
  plugin/src/ui/stories/StoriesFeed.cpp
  plugin/src/ui/stories/StoriesFeed.h
  plugin/src/ui/stories/StoryViewer.cpp
Due: backend, API Handlers, Data Models

refactor(plugin): restructure Profile/Settings UI
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/ui/profile/ActivityStatusSettings.cpp
  plugin/src/ui/profile/ActivityStatusSettings.h
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
  plugin/src/ui/profile/Profile.cpp
Due: none

style(plugin): improve PostCard layout and typography
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: none

feat(backend): add proxy mode for profile picture endpoint
  backend/internal/handlers/auth.go
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/api/ProfileClient.cpp
  plugin/src/stores/UserDataStore.cpp
Due: backend, API Handlers

fix(backend): fix WebSocket connection hijacking issues
  backend/cmd/server/main.go
  backend/internal/websocket/handler.go
Due: backend

fix(plugin): fix JSON serialization for Stream API queries
  plugin/src/network/StreamChatClient.cpp
Due: none

refactor(plugin): use PostCard constant for card height
  plugin/src/ui/feed/PostsFeed.h
Due: none

cli app notes and website notes, both itemized todos (i think)
  notes/ADMIN_CLI_TODO.md
  notes/SIDECHAIN_WEBSITE_TODO.md
Due: none
