Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

fix(backend): only validate midi_filename if MIDI data is being uploaded
  backend/internal/handlers/audio.go
Due: backend, API Handlers

fix(web): remove unnecessary POST /posts call and clean up upload flow
  web/src/api/UploadClient.ts
  web/src/api/client.ts
  web/src/hooks/mutations/useUploadMutation.ts
Due: none

fix(backend): correct Dockerfile build command to build package instead of single file
  backend/Dockerfile
Due: backend

fix(backend): generate StreamActivityID for AudioPost to prevent unique constraint violations
  backend/internal/models/user.go
Due: backend, Data Models

fix(web): remove redundant posts header and fix invalid date on profile
  web/src/components/profile/UserPostsSection.tsx
  web/src/pages/Profile.tsx
Due: none

fix(web): map backend snake_case to frontend camelCase in profile API
  web/src/api/UserClient.ts
Due: none

fix(deploy): remove invalid --cpus flag from docker build
  .github/workflows/build-and-push.yml
Due: none

fix(web): map recommendations endpoints to existing backend routes
  web/src/api/GorseClient.ts
Due: none

fix(web): pass duration parameter to play tracking endpoint
  web/src/api/FeedClient.ts
  web/src/components/feed/PostCard.tsx
Due: none

fix(elasticsearch): increase heap allocation to reduce GC pressure
  backend/docker-compose.prod.yml
Due: backend

fix(gorse): use environment variable for database credentials
  backend/docker-compose.prod.yml
  backend/gorse.toml
Due: backend

fix(deploy): use docker-compose pull instead of building on server
  .github/workflows/build-and-push.yml
Due: none

fix(backend): include username and display_name in post response
  backend/internal/handlers/user.go
Due: backend, API Handlers

fix(gorse): properly substitute env vars for database credentials
  backend/docker-compose.prod.yml
  backend/gorse-entrypoint.sh
  backend/gorse.toml
Due: backend

fix(gorse): mount template to /tmp for envsubst to work
  backend/docker-compose.prod.yml
  backend/gorse-entrypoint.sh
Due: backend

fix(gorse): write config to /tmp and pass via -c flag
  backend/gorse-entrypoint.sh
Due: backend

fix(web): remove redirect_uri parameter from OAuth flow
  web/src/pages/Login.tsx
Due: none

fix(gorse): use sed for env var substitution instead of envsubst
  backend/gorse-entrypoint.sh
Due: backend

feat: implement complete OAuth login flow for Google and Discord
  backend/docker-compose.yml
  backend/internal/auth/oauth.go
  backend/internal/database/database.go
  backend/internal/handlers/auth.go
  backend/internal/models/user.go
  web/src/pages/Login.tsx
Due: backend, Authentication, API Handlers, Database Layer, Data Models

fix(web): resolve TypeScript compilation errors
  web/src/api/GorseClient.ts
  web/src/components/feed/PostCard.tsx
  web/src/components/profile/UserPostsSection.tsx
  web/src/hooks/mutations/useFeedMutations.ts
Due: none

fix(backend/infra): enable CORS and WebSocket for production environment
  backend/Caddyfile
  backend/cmd/server/main.go
Due: backend
