Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Simplify pkgsite generation - use wget --mirror properly without manual URL fixes
  .github/workflows/docs.yml
  docs/generate-pkgsite.sh
Due: none

feat(backend): add ProjectFile model for R.3.4 project file exchange
  backend/internal/models/project_file.go
Due: backend, Data Models

feat(backend): add project file CRUD handlers
  backend/internal/handlers/project_files.go
Due: backend, API Handlers

feat(backend): integrate project file into database and routes
  backend/cmd/server/main.go
  backend/internal/database/database.go
Due: backend, Database Layer

feat(plugin): add project file metadata to FeedPost model
  plugin/source/models/FeedPost.cpp
  plugin/source/models/FeedPost.h
Due: none

feat(plugin): add project file download button to PostCard
  plugin/source/ui/feed/PostCard.cpp
  plugin/source/ui/feed/PostCard.h
Due: none

feat(plugin): add downloadProjectFile to NetworkClient
  plugin/source/network/NetworkClient.cpp
  plugin/source/network/NetworkClient.h
Due: none

feat(plugin): wire up project file download in PostsFeed
  plugin/source/ui/feed/PostsFeed.cpp
  plugin/source/ui/feed/PostsFeed.h
Due: none

feat(backend): add MIDIPattern model for R.3.3 cross-DAW MIDI
  backend/internal/models/midi.go
Due: backend, Data Models

feat(backend): add MIDI pattern handlers and generator
  backend/internal/handlers/midi.go
  backend/internal/handlers/midi_generator.go
  backend/internal/handlers/midi_test.go
Due: backend, API Handlers

feat(plugin): add MIDI pattern support to Story model
  plugin/source/models/Story.cpp
  plugin/source/models/Story.h
Due: none

feat(plugin): add MIDI download button to StoryViewer
  plugin/source/ui/stories/StoriesFeed.h
  plugin/source/ui/stories/StoryViewer.cpp
  plugin/source/ui/stories/StoryViewer.h
Due: none

Remove --no-parent from wget to allow following absolute paths
  docs/generate-pkgsite.sh
Due: none

Add timeout and reduce level to prevent wget from hanging
  docs/generate-pkgsite.sh
Due: none

Fix absolute paths in HTML/JS files to relative paths for proper asset loading
  docs/generate-pkgsite.sh
Due: none

Fix CSS file names with query strings - remove .css extension added by wget
  docs/generate-pkgsite.sh
Due: none

Remove --adjust-extension to prevent CSS file name issues with query strings
  docs/generate-pkgsite.sh
Due: none

refactor(backend): add MIDI and download tracking to AudioPost model
  backend/internal/models/user.go
Due: backend, Data Models

feat(backend): add post download endpoint with tracking
  backend/internal/handlers/feed.go
Due: backend, API Handlers

feat(backend): add Gorse-based recommendation system
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/recommendations_test.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/recommendations/gorse_rest_test.go
Due: backend, API Handlers

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
