Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Fix multiple bugs across codebase
  backend/internal/audio/processor.go
  cli/pkg/service/profile.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/StreamChatClient.cpp
Due: backend

Fix bugs: context timeouts, audit logging, dead code, error handling, and atomic access
  backend/internal/email/ses.go
  backend/internal/handlers/remixes.go
  backend/internal/middleware/impersonate.go
  backend/internal/models/user.go
  backend/internal/seed/seeder.go
  backend/internal/storage/s3.go
  plugin/src/core/PluginProcessor.cpp
  plugin/src/core/PluginProcessor.h
Due: backend, API Handlers, Data Models

Fix three critical bugs in WebSocket, backend handlers, and VST plugin
  backend/internal/handlers/user.go
  backend/internal/websocket/hub.go
  plugin/src/util/OSNotification.cpp
Due: backend, API Handlers

Remove deprecated code and use context-aware Gorse methods throughout
  backend/internal/handlers/archive.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/metrics.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/user.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/timeline/timeline.go
Due: backend, API Handlers

Fix critical bugs in plugin and backend
  backend/internal/handlers/comments.go
  backend/internal/handlers/midi.go
  backend/internal/handlers/remixes.go
  backend/internal/handlers/reposts.go
  backend/internal/handlers/saved_posts.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/user.go
  plugin/src/util/OSNotification.cpp
  plugin/src/util/Validate.cpp
Due: backend, API Handlers

fix(infra): increase Grafana memory limit from 128MB to 512MB
  backend/docker-compose.prod.yml
Due: backend

feat(web): migrate from pnpm to Bun for all package management
  .github/workflows/test-web.yml
  web/.dockerignore
  web/.github/workflows/test-web.yml
  web/ARCHITECTURE.md
  web/Dockerfile
  web/E2E_IMPLEMENTATION_COMPLETE.md
  web/bun.lock
  web/docs/DEPLOYMENT.md
  web/package.json
  web/pnpm-lock.yaml
  web/vercel.json
Due: none

fix(ci): resolve multiple CI workflow failures
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/timeline/timeline.go
  backend/internal/validation/validation.go
  backend/internal/websocket/websocket_test.go
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/api/AuthClient.cpp
  plugin/src/network/api/FeedClient.cpp
  plugin/src/security/SecureTokenStore.cpp
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/util/PostInteractionHelper.h
  plugin/src/stores/util/StoreUtils.h
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/recording/DraftsView.cpp
  plugin/src/ui/stories/CircularVisualization.cpp
  plugin/src/ui/stories/NoteWaterfall.cpp
  plugin/src/ui/stories/PianoRoll.cpp
  plugin/src/util/CMakeLists.txt
  plugin/src/util/OSNotification.cpp
  web/playwright.config.ts
Due: backend, API Handlers

fix(plugin): update JUCE to 8.0.12 and fix build system compatibility
  plugin/cmake/Dependencies.cmake
  plugin/cmake/JUCECache.cmake
  plugin/cmake/juce_cache/CMakeLists.txt
Due: none

fix(infra): increase Elasticsearch memory from 256MB to 1GB
  backend/docker-compose.prod.yml
Due: backend

fix(infra): increase Elasticsearch to 2GB with 1GB heap
  backend/docker-compose.prod.yml
Due: backend

fix(infra): increase Elasticsearch healthcheck timeouts
  backend/docker-compose.prod.yml
Due: backend

fix(infra): increase backend memory from 512MB to 1GB
  backend/docker-compose.prod.yml
Due: backend

fix(infra): add command and clear volumes for prod backend
  backend/docker-compose.prod.yml
Due: backend

fix(backend): fix genre test and add Gorse convenience wrappers
  backend/internal/handlers/helpers_test.go
  backend/internal/recommendations/gorse_rest.go
Due: backend, API Handlers

fix(infra): use production Dockerfile in docker-compose.prod.yml
  backend/docker-compose.prod.yml
Due: backend

fix(ci): add docker cleanup before deployment
  .github/workflows/deploy-backend.yml
Due: none

feat(plugin): implement comprehensive RxCpp reactive architecture
  plugin/src/models/Comment.h
  plugin/src/models/FeedPost.h
  plugin/src/models/Notification.h
  plugin/src/models/Story.h
  plugin/src/models/User.h
  plugin/src/network/CMakeLists.txt
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/StreamChatClient.h
  plugin/src/stores/AppStore.h
  plugin/src/stores/EntityStore.cpp
  plugin/src/stores/EntityStore.h
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Notifications.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Service.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/util/CMakeLists.txt
  plugin/src/util/rx/JuceScheduler.h
  plugin/src/util/rx/RxOperators.h
Due: none

fix(infra): use YAML reset to properly override dev volumes
  backend/docker-compose.prod.yml
Due: backend

feat(stores): add Phase 7 reactive observables for Auth, Chat, and User
  plugin/src/models/Message.h
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Auth.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/User.cpp
Due: none

fix(backend): check error return values for golangci-lint compliance
  backend/cmd/cli/follow_requests.go
  backend/cmd/cli/profile.go
  backend/cmd/cli/search.go
  backend/internal/seed/seeder.go
  backend/internal/telemetry/database.go
Due: backend

feat(rx): add remaining Phase 7 observables for Upload, Playlists, Challenges, and Sounds
  plugin/src/models/MidiChallenge.h
  plugin/src/models/Playlist.h
  plugin/src/models/Sound.h
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/app/Upload.cpp
Due: none

fix(backend): handle remaining unchecked error returns
  backend/cmd/promote-admin/main.go
  backend/internal/database/database.go
  backend/internal/websocket/client.go
Due: backend, Database Layer

fix(backend): handle all unchecked error returns for golangci-lint
  backend/internal/handlers/comments.go
Due: backend, API Handlers

docs: add architecture guide for RxCpp + Slices hybrid reactive pattern
  plugin/docs/ARCHITECTURE_RXCPP_SLICES.md
Due: none

fix: handle all unchecked error returns (errcheck violations)
  backend/cmd/check-waveforms/main.go
  backend/cmd/promote-admin/main.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/comments.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/midi_generator.go
  backend/internal/handlers/reposts.go
  backend/internal/handlers/two_factor.go
  backend/internal/middleware/response_cache.go
  backend/internal/websocket/client.go
  backend/internal/websocket/handler.go
Due: backend, API Handlers

refactor(rx): replace ImmutableSlice with StateSubject for unified reactive state
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/AppState.h
  plugin/src/stores/AppStore.h
  plugin/src/stores/StateSlice.h
  plugin/src/stores/slices/AppSlices.h
  plugin/src/stores/util/PostInteractionHelper.h
  plugin/src/stores/util/UserLoadingHelper.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/social/FollowersList.h
  plugin/src/util/CMakeLists.txt
  plugin/src/util/rx/StateSubject.h
Due: none

refactor(rx): complete migration from slices to RxCpp StateSubject
  plugin/src/stores/AppState.h
  plugin/src/stores/AppStore.h
  plugin/src/stores/ReactiveStore.h
  plugin/src/stores/RootStore.h
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/Auth.cpp
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Draft.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Notifications.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Presence.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/stores/util/PostInteractionHelper.h
  plugin/src/stores/util/UserLoadingHelper.h
  plugin/src/ui/common/ConnectedComponent.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/social/FollowersList.h
  plugin/src/util/ModelBuilder.h
  plugin/src/util/StructuralSharing.h
  plugin/src/util/SubscriptionBag.h
  plugin/src/util/rx/StateSubject.h
Due: none

refactor(rx): migrate UI components to RxCpp observables
  plugin/src/models/Sound.h
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/util/UserLoadingHelper.h
  plugin/src/ui/auth/Auth.cpp
  plugin/src/ui/auth/Auth.h
  plugin/src/ui/challenges/MidiChallengeDetail.cpp
  plugin/src/ui/challenges/MidiChallengeDetail.h
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/messages/UserPickerDialog.h
  plugin/src/ui/playlists/PlaylistDetail.cpp
  plugin/src/ui/playlists/PlaylistDetail.h
  plugin/src/ui/sounds/SoundPage.cpp
  plugin/src/ui/sounds/SoundPage.h
Due: none

feat(rx): add Phase 2 operators - retry, debounce, merge patterns
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Feed.cpp
  plugin/src/util/rx/JuceScheduler.h
Due: none

feat(audio): add audio tagging with Essentia TensorFlow models
  backend/cmd/server/main.go
  backend/docker-compose.dev.yml
  backend/docker-compose.prod.yml
  backend/internal/analysis/client.go
  backend/internal/audio/processor.go
  backend/internal/models/user.go
  backend/internal/queue/audio_jobs.go
  backend/services/audio-analysis/.gitignore
  backend/services/audio-analysis/Dockerfile
  backend/services/audio-analysis/app/__init__.py
  backend/services/audio-analysis/app/analysis/__init__.py
  backend/services/audio-analysis/app/analysis/analyzer.py
  backend/services/audio-analysis/app/analysis/camelot.py
  backend/services/audio-analysis/app/analysis/tagger.py
  backend/services/audio-analysis/app/api/__init__.py
  backend/services/audio-analysis/app/api/routes.py
  backend/services/audio-analysis/app/api/schemas.py
  backend/services/audio-analysis/app/config.py
  backend/services/audio-analysis/app/main.py
  backend/services/audio-analysis/pyproject.toml
  backend/services/audio-analysis/tests/__init__.py
Due: backend, Data Models

feat(audio-analysis): add structured logging and proper uv workflow
  backend/services/audio-analysis/Dockerfile
  backend/services/audio-analysis/app/analysis/analyzer.py
  backend/services/audio-analysis/app/analysis/tagger.py
  backend/services/audio-analysis/app/api/routes.py
  backend/services/audio-analysis/app/logging_config.py
  backend/services/audio-analysis/app/main.py
  backend/services/audio-analysis/pyproject.toml
  backend/services/audio-analysis/uv.lock
Due: backend

feat(rx): deprecate callback APIs and migrate UI to observable pattern
  plugin/src/network/NetworkClient.h
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/StreamChatClient.h
  plugin/src/network/api/CommentsClient.cpp
  plugin/src/network/api/DiscoveryClient.cpp
  plugin/src/network/api/FeedClient.cpp
  plugin/src/network/api/NotificationClient.cpp
  plugin/src/network/api/SearchClient.cpp
  plugin/src/network/api/SocialClient.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/messages/ShareToMessageDialog.cpp
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/social/UserDiscovery.cpp
Due: none

fix(audio-analysis): add cross-platform support and fix BPM validation
  backend/docker-compose.dev.yml
  backend/services/audio-analysis/Dockerfile
  backend/services/audio-analysis/README.md
  backend/services/audio-analysis/app/api/schemas.py
  backend/services/audio-analysis/pyproject.toml
  backend/services/audio-analysis/uv.lock
Due: backend

feat(audio-analysis): enable audio tagging with correct model URLs
  backend/services/audio-analysis/.gitignore
  backend/services/audio-analysis/Dockerfile
  backend/services/audio-analysis/app/api/routes.py
  backend/services/audio-analysis/app/api/schemas.py
  backend/services/audio-analysis/app/config.py
  backend/services/audio-analysis/app/main.py
Due: backend

refactor(rx): migrate all stores and UI to RxCpp observables with typed models
  plugin/src/core/PluginEditor.cpp
  plugin/src/models/Notification.h
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/CommentsClient.cpp
  plugin/src/network/api/DiscoveryClient.cpp
  plugin/src/network/api/FeedClient.cpp
  plugin/src/network/api/NotificationClient.cpp
  plugin/src/network/api/ProfileClient.cpp
  plugin/src/network/api/SearchClient.cpp
  plugin/src/network/api/SocialClient.cpp
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Notifications.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Service.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/messages/MessagesList.h
  plugin/src/ui/messages/ShareToMessageDialog.cpp
  plugin/src/ui/messages/ShareToMessageDialog.h
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/messages/UserPickerDialog.h
  plugin/src/ui/notifications/NotificationItem.h
  plugin/src/ui/notifications/NotificationList.cpp
  plugin/src/ui/search/Search.cpp
  plugin/src/ui/search/Search.h
Due: none

fix(audio-analysis): use venv path for uvicorn in Docker CMD
  backend/services/audio-analysis/Dockerfile
Due: backend

refactor(types): replace feed observable juce::var with typed FeedResult
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/FeedClient.cpp
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Feed.cpp
Due: none

refactor(plugin): Phase 2 - typed User observables
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/DiscoveryClient.cpp
  plugin/src/network/api/ProfileClient.cpp
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Service.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/search/Search.cpp
Due: none

test(e2e): add comprehensive P0 tests for feed, messages, and profile
  backend/cmd/migrate/main.go
  backend/cmd/seed/main.go
  web/e2e/fixtures/seed.ts
  web/e2e/tests/feed/aggregated-feed.spec.ts
  web/e2e/tests/feed/feed-types-accuracy.spec.ts
  web/e2e/tests/feed/infinite-scroll-deep.spec.ts
  web/e2e/tests/feed/like-interactions-deep.spec.ts
  web/e2e/tests/feed/repost-flow.spec.ts
  web/e2e/tests/messages/message-conversations-create.spec.ts
  web/e2e/tests/messages/message-group-conversations.spec.ts
  web/e2e/tests/messages/message-thread-updates.spec.ts
  web/e2e/tests/profile/profile-picture-upload.spec.ts
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
