Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

fix(backend/infra): enable CORS and WebSocket for production environment
  backend/Caddyfile
  backend/cmd/server/main.go
Due: backend

rename
  .github/workflows/build-and-push.yml
Due: none

fix(backend): reorder middleware to ensure CORS preflight is handled first
  backend/Caddyfile
  backend/cmd/server/main.go
Due: backend

ci
  .github/workflows/deploy-backend.yml
Due: none

ci
  .github/workflows/backend-tests.yml
Due: none

ci
  .github/workflows/test-web.yml
Due: none

docs(caddy): clarify CORS fallback headers
  backend/Caddyfile
Due: backend

fix(deploy): add backend Docker image build step to deployment workflow
  .github/workflows/deploy-backend.yml
Due: none

chore(backend): add visual indicator for CORS configuration
  backend/cmd/server/main.go
Due: none

fix: resolve critical messaging and engagement bugs
  backend/internal/handlers/comments.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/midi.go
  backend/internal/handlers/reposts.go
  backend/internal/handlers/saved_posts.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/user.go
  backend/internal/stream/client.go
  backend/internal/stream/interface.go
  backend/internal/stream/mock_client.go
  notes/TODO_BUG_0.md
  plugin/src/stores/app/Chat.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: backend, API Handlers, Stream.io Integration

fix: correct message send callback signature and ChatState access
  plugin/src/stores/app/Chat.cpp
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(docker-compose): reduce memory limits for 4GB server
  backend/docker-compose.prod.yml
Due: backend

ci: use docker-compose for backend tests instead of manual services
  .github/workflows/backend-tests.yml
Due: none

ci: simplify backend tests to run inside docker container
  .github/workflows/backend-tests.yml
Due: none

test: trigger backend test workflow
  backend/README.md
Due: backend

ci: use docker-compose for web e2e tests
  .github/workflows/test-web.yml
Due: none

ci
  .github/workflows/ci.yml
  .github/workflows/deploy-web.yml
  .github/workflows/deploy.yml
  .github/workflows/docs.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-plugin.yml
Due: none

fix(backend): sync profile picture upload to Stream.io
  backend/internal/handlers/auth.go
Due: backend, API Handlers

fix(plugin): use actual scrollbar width instead of hardcoded value
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(search): switch from Elasticsearch 8.11 to OpenSearch 3.4.0 for 4GB server
  backend/docker-compose.prod.yml
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
