Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

refactor(caddy): remove redundant X-Forwarded headers
  backend/Caddyfile
Due: backend

fix(deploy): restart all services including caddy and monitoring on deployment
  .github/workflows/build-and-push.yml
Due: none

fix(prod): optimize container memory limits for 4GB server
  backend/docker-compose.prod.yml
Due: backend

fix(backend): verify Gorse URL configuration for recommendations
  notes/CODEBASE_IMPROVEMENTS_TODO.md
  notes/ELASTICSEARCH_IMPLEMENTATION_PLAN.md
  notes/SETUP_EMAIL_FORWARDING.md
  notes/backend_gorse_redis_logging_metrics_updates.md
  web/src/api/websocket.ts
  web/src/components/presence/PresenceIndicator.tsx
  web/src/hooks/useCommentTyping.ts
  web/src/hooks/usePresence.ts
  web/src/hooks/useWebSocket.ts
Due: none

security(prometheus): add basic authentication to prometheus.sidechain.live
  backend/.env.prod.example
  backend/Caddyfile
Due: backend

security(prometheus): add basic authentication to prometheus.sidechain.live
  backend/Caddyfile
  backend/docker-compose.prod.yml
Due: backend

fix(web): resolve TypeScript compilation errors
  backend/Caddyfile
Due: backend

security(prometheus): add basic authentication with hardcoded hash
  backend/.env.prod.example
  backend/docker-compose.prod.yml
Due: backend

fix(caddy): use environment variables for Prometheus authentication
  backend/.env.prod.example
  backend/Caddyfile
  backend/docker-compose.prod.yml
Due: backend

fix(prod): add CPU limits to all containers to prevent 100% CPU usage
  backend/docker-compose.prod.yml
Due: backend

fix(caddy): use basic_auth directive with bcrypt hash instead of plaintext
  backend/.env.prod.example
  backend/Caddyfile
  backend/docker-compose.prod.yml
Due: backend

fix(compose): use environment variables for DATABASE_URL and GORSE_API_KEY
  backend/docker-compose.yml
Due: backend

fix(config): exclude gorse.toml from git to prevent password commits
  backend/.gitignore
Due: backend

fix(deploy): add resource limits to docker build to prevent server lockup
  .github/workflows/build-and-push.yml
Due: none

feat(web): improve post upload form UI/UX
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/upload/MetadataForm.tsx
  web/src/styles/globals.css
Due: none

feat(web): expand genre list to 180+ obscure and niche genres
  web/src/components/upload/MetadataForm.tsx
Due: none

feat(web): massively expand genre list to 350+ obscure and niche genres
  web/src/components/upload/MetadataForm.tsx
Due: none

fix(web): correct upload endpoint and form field name
  web/src/api/UploadClient.ts
Due: none

fix(web): use apiClient instead of raw fetch for audio upload
  web/src/api/UploadClient.ts
Due: none

fix(web): implement proper FormData handling for file uploads
  web/src/api/UploadClient.ts
  web/src/api/client.ts
  web/src/hooks/mutations/useUploadMutation.ts
Due: none

fix(backend): only validate midi_filename if MIDI data is being uploaded
  backend/internal/handlers/audio.go
Due: backend, API Handlers

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
