Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat: trigger plugin build when CMake files change
  git-hooks/pre-commit
Due: none

feat: add CLI build check to pre-commit hook
  git-hooks/pre-commit
Due: none

fix: username update validation in UpdateMyProfile
  backend/internal/handlers/user.go
Due: backend, API Handlers

fix: ensure frontend sends all profile fields to backend
  backend/internal/handlers/user.go
  web/src/api/UserProfileClient.ts
Due: backend, API Handlers

backend
  backend/docker-compose.dev.yml
  backend/docker-compose.prod.yml
  backend/docker-compose.yml
  backend/docs/ELASTICSEARCH_PRODUCTION_SETUP.md
  backend/gorse-entrypoint.sh
  backend/grafana/provisioning/dashboards/cache-performance.json
  backend/internal/handlers/user.go
  backend/internal/metrics/metrics.go
  backend/internal/middleware/cache_metrics_test.go
  backend/internal/middleware/prometheus_metrics.go
  backend/internal/middleware/response_cache.go
  backend/notes/TODO_PROFESSIONAL_ENHANCEMENTS.md
  backend/prometheus.yml
Due: backend, API Handlers

Remove task references from code comments
  backend/cmd/server/main.go
Due: none

Remove task/note references from codebase
  backend/cmd/server/main.go
  backend/docker-compose.dev.yml
  backend/go.mod
  backend/go.sum
  backend/gorse.toml
  backend/gorse.toml.template
  backend/internal/database/database.go
  backend/internal/handlers/archive.go
  backend/internal/handlers/error_tracking.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/user.go
  backend/internal/models/recommendation_impression.go
  backend/internal/recommendations/ctr.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/websocket/message.go
  plugin/src/audio/AudioCapture.cpp
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginProcessor.cpp
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/AudioClient.cpp
  plugin/src/network/api/StoriesClient.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
Due: backend, API Handlers, Database Layer, Data Models

Fix Grafana error rate metrics and dashboard queries
  backend/cmd/server/main.go
  backend/grafana/provisioning/dashboards/system-health.json
  backend/internal/middleware/prometheus_metrics.go
  backend/internal/middleware/prometheus_metrics_test.go
  backend/test_metrics.sh
  backend/trigger_500_error.sh
  backend/trigger_error.sh
Due: backend

Remove final note/task references
  backend/cmd/server/main.go
  backend/internal/handlers/stories.go
Due: backend, API Handlers

web follow button and tests for it
  web/e2e/fixtures/auth.ts
  web/e2e/page-objects/FeedPage.ts
  web/e2e/tests/feed/feed-follow-button.spec.ts
  web/e2e/tsconfig.json
  web/playwright.config.ts
  web/src/api/FeedClient.ts
  web/src/api/client.ts
  web/src/components/feed/PostCard.tsx
  web/src/components/ui/button.tsx
  web/src/hooks/mutations/useFollowMutation.ts
  web/src/hooks/useWebSocket.ts
  web/test-results/.last-run.json
Due: none

waveform doc mv
  docs/WAVEFORM_IMPLEMENTATION.md
Due: none

gorse backend refactor work
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/stories.go
  backend/internal/models/user.go
  backend/internal/timeline/timeline.go
  backend/test_metrics.sh
  backend/trigger_500_error.sh
  backend/trigger_error.sh
Due: backend, API Handlers, Data Models

deleted crap
  test_system_config.sh
Due: none

todo notes
  notes/TODO_IMPLEMENTATION_PLAN.md
Due: none

fix: add missing test-backend and build-plugin-debug jobs to CI workflow
  .github/workflows/ci.yml
Due: none

fix: update upload-artifact to v4, remove missing FeedDataManager reference, fix vendor handling
  .github/workflows/ci.yml
  plugin/cmake/Tests.cmake
Due: none

fix: resolve all CI errors - Go lint errors, FeedDataManager tests, and method signatures
  WARNINGS_ANALYSIS.md
  backend/cmd/backfill-waveforms/debug.go
  backend/cmd/create-test-posts/main.go
  backend/internal/auth/service_test.go
  backend/internal/handlers/comments_test.go
  backend/scripts/verify-seed.go
  git-hooks/pre-commit
  plugin/cmake/CompilerFlags.cmake
  plugin/src/stores/app/Auth.cpp
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Notifications.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/ui/animations/AnimationController.h
  plugin/src/ui/auth/Auth.cpp
  plugin/src/ui/common/SmoothScrollable.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/messages/MessagesList.h
  plugin/src/ui/profile/ActivityStatusSettings.cpp
  plugin/src/ui/profile/ArchivedPosts.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/Profile.h
  plugin/src/ui/profile/SavedPosts.cpp
  plugin/src/ui/profile/TwoFactorSettings.cpp
  plugin/src/ui/social/UserDiscovery.cpp
  plugin/src/ui/sounds/SoundPage.cpp
  plugin/src/ui/stories/SelectHighlightDialog.cpp
  plugin/src/ui/stories/StoryHighlights.cpp
  plugin/src/ui/synth/HiddenSynth.cpp
  plugin/src/util/cache/FileCache.h
  plugin/tests/FeedDataTest.cpp
  plugin_build_output.txt
Due: backend, plugin, Authentication, API Handlers

chore: enhance pre-commit hook with test compilation checks
  git-hooks/pre-commit
Due: none

fix: remove missing ImageCache reference from Tests.cmake
  WARNINGS_ANALYSIS.md
  backend/cmd/create-test-posts/main.go
  backend/internal/handlers/handlers_test.go
  backend/internal/handlers/helpers_test.go
  backend/internal/middleware/ratelimit_test.go
  backend/scripts/verify-seed.go
  plugin/cmake/Tests.cmake
  plugin/src/stores/app/Auth.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/ui/common/SmoothScrollable.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/profile/ArchivedPosts.cpp
  plugin/src/ui/profile/SavedPosts.cpp
  plugin/src/ui/stories/SelectHighlightDialog.cpp
  plugin/src/ui/stories/StoryHighlights.cpp
  plugin/src/util/Log.cpp
  plugin/src/util/Log.h
  plugin_build_output_v2.txt
Due: backend, API Handlers

Remove oauthCallback from AppStore - OAuth is handled by PluginEditor
  plugin/src/stores/AppStore.h
  plugin/src/stores/app/Auth.cpp
Due: none

Implement token refresh in AppStore
  plugin/src/stores/app/Auth.cpp
Due: none

Define AUTH_ME endpoint constant and use in token refresh
  plugin/cmake/CompilerFlags.cmake
  plugin/src/audio/HttpAudioPlayer.cpp
  plugin/src/core/PluginEditor.cpp
  plugin/src/security/RateLimiter.cpp
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Comments.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/util/Constants.h
  plugin/src/util/Log.cpp
  plugin/src/util/cache/FileCache.h
Due: none

Refactor CMake: Consolidate from 22 to 4 libraries
  plugin/CMakeLists.txt
  plugin/src/core/CMakeLists.txt
  plugin/src/models/CMakeLists.txt
  plugin/src/security/CMakeLists.txt
  plugin/src/stores/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/src/ui/animations/CMakeLists.txt
  plugin/src/ui/auth/CMakeLists.txt
  plugin/src/ui/challenges/CMakeLists.txt
  plugin/src/ui/common/CMakeLists.txt
  plugin/src/ui/feed/CMakeLists.txt
  plugin/src/ui/messages/CMakeLists.txt
  plugin/src/ui/notifications/CMakeLists.txt
  plugin/src/ui/playlists/CMakeLists.txt
  plugin/src/ui/profile/CMakeLists.txt
  plugin/src/ui/recording/CMakeLists.txt
  plugin/src/ui/search/CMakeLists.txt
  plugin/src/ui/social/CMakeLists.txt
  plugin/src/ui/sounds/CMakeLists.txt
  plugin/src/ui/stories/CMakeLists.txt
  plugin/src/ui/synth/CMakeLists.txt
Due: none

Fix UI CMakeLists.txt: List actual source files for compilation
  plugin/src/ui/CMakeLists.txt
Due: none

Fix plugin build: reorganize libraries and fix compilation warnings
  plugin/cmake/CompilerFlags.cmake
  plugin/cmake/Dependencies.cmake
  plugin/src/audio/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/ui/common/SmoothScrollable.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/messages/MessagesList.h
  plugin/src/ui/profile/ActivityStatusSettings.cpp
  plugin/src/ui/profile/ArchivedPosts.cpp
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/PrivacySettings.cpp
  plugin/src/ui/profile/Profile.h
  plugin/src/ui/profile/SavedPosts.cpp
  plugin/src/ui/profile/TwoFactorSettings.cpp
  plugin/src/ui/social/UserDiscovery.cpp
  plugin/src/ui/stories/SelectHighlightDialog.cpp
  plugin/src/ui/stories/StoryHighlights.cpp
  plugin/src/util/CMakeLists.txt
Due: none

Fix plugin tests: Update library links and includes
  plugin/cmake/Tests.cmake
  plugin/tests/FeedDataTest.cpp
Due: plugin

Add UI component state testing guide and PostCard tests with Catch2
  plugin/cmake/Tests.cmake
  plugin/tests/PostCardTest.cpp
  plugin/tests/UI_COMPONENT_TESTING.md
Due: plugin

fix: implement reaction toggle by checking current reactions from AppStore
  plugin/cmake/Tests.cmake
  plugin/src/ui/messages/MessageThread.cpp
  plugin/tests/MessagingE2ETest.cpp
Due: plugin

fix: replace invalid getNumCharacters() calls and fix syntax error
  plugin/src/ui/messages/MessageThread.cpp
Due: none

Fix nodiscard warning in showMenuAsync call
  plugin/src/ui/messages/MessageThread.cpp
Due: none

Add StringUtils utility for string manipulation
  plugin/src/util/StringUtils.cpp
  plugin/src/util/StringUtils.h
Due: none

Migrate duplicate getInitials implementations to StringUtils
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/util/CMakeLists.txt
Due: none

chore: migrate hardcoded colors to SidechainColors palette
  plugin/src/ui/auth/Auth.cpp
  plugin/src/ui/challenges/MidiChallengeDetail.cpp
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
  plugin/src/ui/common/Header.cpp
  plugin/src/ui/messages/AudioSnippetRecorder.cpp
  plugin/src/ui/recording/DraftsView.cpp
  plugin/src/util/Colors.h
Due: none

chore: fix test linking and auth includes
  plugin/cmake/Tests.cmake
  plugin/src/ui/auth/Auth.cpp
Due: none

refactor: consolidate emoji usage to Emoji.h constants
  plugin/src/models/FeedPost.h
Due: none

Remove obsolete TODO comment in Profile::handleFollowToggle
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/ProfileClient.cpp
  plugin/src/ui/auth/Auth.cpp
  plugin/src/ui/profile/Profile.cpp
Due: none

refactor: comprehensive util module consolidation across plugin
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/messages/UserPickerDialog.cpp
  plugin/src/ui/notifications/NotificationList.cpp
  plugin/src/ui/profile/Profile.cpp
Due: none

Fix compilation warnings in plugin UI code
  plugin/src/ui/animations/NavigationStack.cpp
  plugin/src/ui/auth/Auth.cpp
  plugin/src/ui/common/ErrorState.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/ProfileSetup.cpp
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/ui/social/UserDiscovery.cpp
  plugin/src/ui/social/UserDiscovery.h
  plugin/src/ui/synth/HiddenSynth.cpp
Due: none
