Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

plugins
  .claude/settings.json
Due: none

refactor: Update UserDiscovery and Search to use AppStore instead of NetworkClient
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/ui/search/Search.cpp
  plugin/src/ui/social/UserDiscovery.cpp
  plugin/src/ui/social/UserDiscovery.h
Due: none

refactor: Phase 3a - Refactor PostCard to use shared_ptr for memory management
  plugin/src/stores/AppStore.h
  plugin/src/stores/EntityCache.h
  plugin/src/stores/EntityStore.h
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/ModelSubscriptions.cpp
  plugin/src/stores/slices/AppSlices.h
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/tests/PostCardTest.cpp
Due: plugin

refactor: Remove NetworkClient dependency from Search and fix Presence implementation
  plugin/src/core/PluginEditor.cpp
  plugin/src/stores/app/Presence.cpp
  plugin/src/ui/search/Search.cpp
  plugin/src/ui/search/Search.h
Due: none

refactor: Phase 3b - Refactor UserDiscovery to use AppStore caching
  plugin/src/stores/app/User.cpp
Due: none

refactor: Phase 4 - Refactor FollowersList to use Redux pattern with immutable slices
  plugin/src/models/User.h
  plugin/src/stores/app/User.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/ui/social/FollowersList.h
Due: none

refactor: Migrate to true immutable Redux with value-based StateSlice
  plugin/src/stores/AppStore.h
  plugin/src/stores/StateSlice.h
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/Discovery.cpp
  plugin/src/stores/slices/AppSlices.h
Due: none

chore: Remove additional temp files and update .gitignore
  .gitignore
  backend/internal/middleware/redis_rate_limit.go.orig
  backend/notes/TODO_PROFESSIONAL_ENHANCEMENTS.md
  docs/__pycache__/conf.cpython-312.pyc
Due: backend

chore: Remove unused debug and TODO placeholder files
  backend/cmd/backfill-waveforms/debug.go
  backend/internal/handlers/common_todos.go
Due: backend, API Handlers

fix: Multiple bug fixes across plugin and backend
  backend/internal/audio/ffmpeg.go
  backend/internal/audio/processor.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/user.go
  backend/internal/queue/audio_jobs.go
  backend/internal/recommendations/gorse_rest.go
  backend/internal/util/file.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/models/Playlist.cpp
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/WebSocketClient.cpp
  plugin/src/network/api/UploadDownloadClient.cpp
  plugin/src/stores/app/Service.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/util/cache/ImageCache.cpp
  plugin/src/util/logging/LogSink.h
Due: backend, API Handlers

fix: Resolve JUCE FileOutputStream::flush() void return type issues
  plugin/src/models/FeedPost.cpp
  plugin/src/models/FeedPost.h
  plugin/src/models/Story.cpp
  plugin/src/models/Story.h
  plugin/src/stores/app/Service.cpp
  plugin/src/stores/app/Stories.cpp
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

refactor: Implement truly immutable state management (Redux pattern)
  plugin/src/stores/StateSlice.h
  plugin/src/stores/app/Comments.cpp
Due: none

refactor: Phase 1.5 - Fix CommentsPanel AppStoreComponent integration
  plugin/src/stores/AppStore.h
  plugin/src/ui/feed/Comment.cpp
Due: none

backend fix
  backend/cmd/server/main.go
  backend/internal/audio/ffmpeg.go
  backend/internal/audio/processor.go
  backend/internal/handlers/discovery.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/presence.go
Due: backend, API Handlers

refactor: Phase 2 - Refactor UserDiscovery to use AppStoreComponent pattern
  plugin/src/stores/AppStore.h
  plugin/src/ui/social/UserDiscovery.cpp
  plugin/src/ui/social/UserDiscovery.h
Due: none

refactor: Phase 3 - Refactor FollowersList to use AppStore caching
  plugin/src/stores/app/Presence.cpp
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/social/FollowersList.cpp
  plugin/src/ui/social/FollowersList.h
Due: none

refactor: Phase 4 - Add initialize() call to Search component
  plugin/src/ui/search/Search.cpp
Due: none

refactor: Phase 5 - Refactor PostsFeed to use AppStoreComponent pattern
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

refactor: Phase 6 - Add initialize() call to MessageThread component
  plugin/src/ui/messages/MessageThread.cpp
Due: none

web fix
  web/docs/PRESENCE.md
  web/src/components/presence/PresenceIndicator.tsx
  web/src/hooks/usePresence.ts
  web/src/providers/ChatProvider.tsx
  web/src/types/stream.ts
Due: none

fix: WebSocketClient ASIO thread lifecycle management - prevent abort on cleanup
  plugin/src/network/WebSocketClient.cpp
Due: none

refactor: Phase 7 - Add initialize() call to NotificationList component
  plugin/src/ui/notifications/NotificationList.cpp
Due: none

fix: Fix comment submission JSON parsing and add comprehensive debug logging
  plugin/src/network/api/CommentsClient.cpp
  plugin/src/stores/app/Comments.cpp
Due: none

fix: Extract comment object from API response wrapper
  plugin/src/stores/app/Comments.cpp
Due: none

laptop to twopal
  plugin/CMakeLists.txt
  plugin/cmake/CompilerFlags.cmake
  plugin/cmake/Options.cmake
  plugin/src/audio/AudioCapture.cpp
  plugin/src/core/PluginEditor.cpp
  plugin/src/models/FeedPost.cpp
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/StreamChatClient.cpp
  plugin/src/network/StreamChatClient.h
  plugin/src/network/api/UploadDownloadClient.cpp
  plugin/src/stores/EntityCache.h
  plugin/src/stores/EntityStore.h
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/Auth.cpp
  plugin/src/stores/app/Challenges.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/Draft.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/stores/app/Notifications.cpp
  plugin/src/stores/app/Playlists.cpp
  plugin/src/stores/app/Search.cpp
  plugin/src/stores/app/Service.cpp
  plugin/src/stores/app/Sounds.cpp
  plugin/src/stores/app/Upload.cpp
  plugin/src/stores/app/User.cpp
  plugin/src/stores/app/WebSocket.cpp
  plugin/src/ui/animations/NavigationStack.cpp
  plugin/src/ui/animations/NavigationStack.h
  plugin/src/ui/common/SmoothScrollable.h
  plugin/src/ui/feed/Comment.cpp
  plugin/src/ui/feed/Comment.h
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
  plugin/src/ui/playlists/PlaylistDetail.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/ProfileSetup.cpp
  plugin/src/ui/recording/Upload.cpp
  plugin/src/ui/stories/StoriesFeed.cpp
  plugin/src/util/cache/ImageCache.cpp
  plugin/src/util/error/ErrorTracking.cpp
Due: none

feat(metrics): add application metrics for audio processing and social engagement
  backend/internal/metrics/application.go
Due: backend

feat(elasticsearch): Complete search integration and optimize handlers
  backend/internal/handlers/discovery.go
  backend/internal/search/client.go
Due: backend, API Handlers

feat: implement Phase 1 - Stabilize: Error handling and validation packages
  backend/internal/errors/codes.go
  backend/internal/errors/errors.go
  backend/internal/repository/user_repository.go
  backend/internal/util/database.go
  backend/internal/util/response.go
  backend/internal/util/validation.go
  backend/scripts/verify-seed.go
Due: backend

feat(elasticsearch): Fix engagement metric syncing and implement complete backfill
  backend/cmd/migrate/main.go
  backend/internal/search/client.go
Due: backend

refactor(handlers): standardize error responses in feed.go
  backend/internal/handlers/feed.go
Due: backend, API Handlers

feat(elasticsearch): Critical bug fixes + Prometheus metrics + auto-reindex
  backend/cmd/server/main.go
  backend/internal/handlers/user.go
  backend/internal/metrics/elasticsearch.go
  backend/internal/metrics/search.go
  backend/internal/search/client.go
  backend/internal/search/version.go
Due: backend, API Handlers

feat(observability): Add exporters and Prometheus config for ES metrics
  backend/docker-compose.dev.yml
  backend/prometheus.yml
Due: backend

feat(engagement): Add play count tracking and ES sync
  backend/internal/handlers/feed.go
Due: backend, API Handlers

feat(web): integrate OAuth session exchange through AuthClient
  web/e2e/tests/auth/oauth-callback.spec.ts
  web/src/api/AuthClient.ts
  web/src/pages/AuthCallback.tsx
Due: none

feat(observability): implement OpenTelemetry distributed tracing with Tempo & Loki
  backend/.env.example
  backend/cmd/server/main.go
  backend/docker-compose.dev.yml
  backend/docs/OPENTELEMETRY_SETUP.md
  backend/go.mod
  backend/go.sum
  backend/grafana/provisioning/datasources/loki.yml
  backend/grafana/provisioning/datasources/tempo.yml
  backend/internal/database/database.go
  backend/internal/middleware/telemetry.go
  backend/internal/telemetry/database.go
  backend/internal/telemetry/tracer.go
  backend/promtail/promtail.yaml
  backend/tempo/tempo.yaml
Due: backend, Database Layer

fix(feed): resolve CORS and response bloat issues
  backend/internal/handlers/feed.go
  web/src/api/FeedClient.ts
Due: backend, API Handlers

fix(observability): simplify Tempo config and Grafana datasource
  backend/grafana/provisioning/datasources/tempo.yml
  backend/tempo/tempo.yaml
Due: backend

feat(observability): add distributed tracing dashboards and testing guide
  backend/docs/TESTING_TRACING.md
  backend/grafana/provisioning/dashboards/distributed-tracing.json
  backend/grafana/provisioning/dashboards/logs-traces.json
Due: backend

feat(observability): add trace context helpers to logger and fix dashboard queries
  backend/grafana/provisioning/dashboards/distributed-tracing.json
  backend/internal/logger/logger.go
Due: backend
