Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

clang-format
  plugin/src/stores/app/AppState.h
  plugin/src/stores/app/Feed.cpp
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
  plugin/src/ui/recording/Upload.h
Due: none

fix(plugin): fix Outcome API and dispatch method in Feed.cpp and MidiChallengeSubmission.cpp
  plugin/src/stores/app/Feed.cpp
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
Due: none

docs: add comprehensive plugin architecture bug report
  BUG_REPORT.md
Due: none

feat: implement plugin todos - phases 4 and 7
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/search/Search.cpp
Due: none

docs: update FollowersList refactoring status
  plugin/src/ui/profile/Profile.cpp
Due: none

fix(Bug #1 & #2): Fix EntityCache immutability and const_cast violations
  plugin/src/stores/EntityCache.h
Due: none

fix(Bug #3, #4, #8): Fix WebSocket/network callback safety and threading
  plugin/src/core/PluginEditor.cpp
Due: none

fix(Bug #10): Replace raw BufferAudioPlayer pointer with weak_ptr
  plugin/src/core/PluginProcessor.cpp
  plugin/src/core/PluginProcessor.h
  plugin/src/ui/stories/StoryRecording.cpp
  plugin/src/ui/stories/StoryRecording.h
Due: none

fix(Bug #11): Add exception safety to PluginProcessor destructor
  plugin/src/core/PluginProcessor.cpp
Due: none

feat(plugin): Implement TODOs - MIDI upload, MessagesList field mapping, FollowersList refactoring
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
  plugin/src/ui/challenges/MidiChallengeSubmission.h
  plugin/src/ui/messages/MessagesList.cpp
  plugin/src/ui/profile/Profile.cpp
Due: none

fix(plugin): Fix Message field mapping in MessagesList
  plugin/src/ui/messages/MessagesList.cpp
Due: none

fix(ci): Fix backend test build and improve plugin coverage reporting
  .github/workflows/test-plugin.yml
  backend/internal/handlers/auth.go
  codecov.yml
Due: backend, API Handlers

fix(bugs): Fix critical thread safety and memory safety bugs (#6-#15)
  plugin/src/audio/BufferAudioPlayer.cpp
  plugin/src/audio/BufferAudioPlayer.h
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/WebSocketClient.cpp
  plugin/src/util/Async.cpp
  plugin/src/util/Result.h
Due: none

chore(ci): Add codecov config path and coverage summary to backend test
  .github/workflows/test-backend.yml
Due: none

fix(plugin): enforce immutability through builder pattern for model objects
  plugin/src/models/FeedPost.h
  plugin/src/models/User.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
  plugin/src/util/ModelBuilder.h
Due: none

fix(ci): Fix codecov file path - use relative path with directory hint
  .github/workflows/test-backend.yml
Due: none

fix(plugin): optimize state updates with move semantics and structural sharing
  plugin/src/util/StructuralSharing.h
Due: none

clang-format
  plugin/src/ui/challenges/MidiChallengeSubmission.cpp
  plugin/src/ui/common/AppStoreComponent.h
Due: none

fix(plugin): implement subscription cleanup with SubscriptionBag RAII pattern
  plugin/src/util/SubscriptionBag.h
Due: none

fix(ci): Use -mod=mod to bypass vendor issues in backend tests
  .github/workflows/test-backend.yml
Due: none

revert: Remove -mod=mod flag - exposed pre-existing test panic
  .github/workflows/test-backend.yml
Due: none

fix(backend): Update go.mod and go.sum to fix vendor inconsistencies
  backend/go.sum
Due: backend

ci
  .github/workflows/test-backend.yml
Due: none

feat(plugin): implement typing indicator in MessageThread
  plugin/src/core/PluginEditor.cpp
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
  plugin/src/ui/messages/MessagesList.cpp
Due: none

fix: update custom BPM dialog TODO - already implemented
  plugin/src/ui/search/Search.cpp
Due: none

feat(plugin): implement audio snippet playback in MessageThread (Phase 2)
  plugin/src/ui/messages/MessageThread.cpp
  plugin/src/ui/messages/MessageThread.h
Due: none

feat(plugin): implement audio snippet upload in MessageThread (Phase 2)
  plugin/src/ui/messages/MessageThread.cpp
Due: none

feat(plugin): complete audio attachment integration (Phase 2)
  plugin/src/ui/messages/MessageThread.cpp
Due: none

fix(ci): Use -mod=mod for backend tests to bypass vendor inconsistencies and add error tolerance
  .github/workflows/test-backend.yml
Due: none

fix(backend): Initialize logger in prometheus_metrics_test to prevent nil pointer panic
  backend/internal/middleware/prometheus_metrics_test.go
Due: backend

fix(ci): Use -mod=mod for backend tests to bypass vendor inconsistencies
  .github/workflows/test-backend.yml
Due: none

feat(plugin): implement Phase 3 genre filtering and trending searches
  plugin/src/ui/search/Search.cpp
  plugin/src/ui/social/UserDiscovery.cpp
Due: none

refactor(plugin): remove outdated Phase 2 TODO comment
  plugin/src/ui/recording/Upload.cpp
Due: none

fix(ci): Fix plugin test results path to use glob pattern for XML files in subdirectory
  .github/workflows/test-plugin.yml
Due: none

fix(plugin): Add coverage flags to all plugin libraries
  plugin/src/audio/CMakeLists.txt
  plugin/src/core/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/src/util/CMakeLists.txt
Due: none

feat(tracing): Comprehensive distributed tracing enhancements
  backend/.env.example
  backend/TRACING_GUIDE.md
  backend/internal/cache/redis.go
  backend/internal/middleware/correlation.go
  backend/internal/telemetry/README.md
  backend/internal/telemetry/handler_examples.go
  backend/internal/telemetry/http_client.go
  backend/internal/telemetry/service_calls.go
Due: backend

fix(tracing): Fix compilation errors in distributed tracing code
  backend/internal/middleware/correlation.go
  backend/internal/telemetry/handler_examples.go
  backend/internal/telemetry/http_client.go
Due: backend

fix(tracing): Fix remaining code formatting and baggage API issues
  backend/internal/cache/redis.go
  backend/internal/middleware/correlation.go
  backend/internal/telemetry/business_events.go
  backend/internal/telemetry/handler_examples.go
Due: backend

docs(tracing): Add comprehensive test results and validation report
  backend/TRACING_TEST_RESULTS.md
Due: backend

chore(deps): Add missing OpenTelemetry HTTP instrumentation dependency
  backend/go.mod
  backend/go.sum
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
