Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat(deployment): implement Watchtower for automatic container updates
  .github/workflows/deploy.yml
  backend/docker-compose.dev.yml
  backend/docker-compose.prod.yml
  notes/deployment-setup.md
Due: backend

fix(backend): cast UUID id to text in user lookup queries
  backend/internal/handlers/user.go
Due: backend, API Handlers

fix(caddy): remove Caddy v1 syntax header_upstream directives
  backend/Caddyfile
Due: backend

fix(caddy): correct health check syntax for Caddy v2
  backend/Caddyfile
Due: backend

fix(caddy): use correct Caddy v2 reverse_proxy syntax
  backend/Caddyfile
Due: backend

fix(ui): resolve post feed rendering by initializing AppStore subscription
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

feat(privacy): implement private account controls across web, plugin, and CLI
  backend/cmd/cli/follow_requests.go
  backend/cmd/cli/main.go
  backend/cmd/cli/profile.go
  backend/go.mod
  backend/go.sum
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
  plugin/src/ui/profile/PrivacySettings.cpp
  plugin/src/ui/profile/PrivacySettings.h
  web/src/api/UserClient.ts
  web/src/pages/Settings.tsx
Due: backend

fix(docker-compose): use env_file to load .env into backend container
  backend/docker-compose.prod.yml
Due: backend

fix(docker-compose): mount .env file as volume for backend container
  backend/docker-compose.prod.yml
Due: backend

fix(feed): correct scroll bar range limits calculation
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

feat(infrastructure): fully reproducible IaC deployment with Terraform
  terraform/.gitignore
  terraform/DEPLOYMENT_GUIDE.md
  terraform/QUICK_START.md
  terraform/email_forwarder.tf
  terraform/main.tf
  terraform/provisioning/setup.sh
  terraform/terraform.tfvars.example
  terraform/tfplan
  terraform/tfplan2
  terraform/tfplan3
  terraform/tfplan_continue
  terraform/tfplan_final
  terraform/tfplan_fixed
Due: none

chore(terraform): clean up and fix formatting
  terraform/main.tf
Due: none

feat(feed): add smooth scroll animation with easing
  plugin/src/ui/feed/PostsFeed.cpp
  plugin/src/ui/feed/PostsFeed.h
Due: none

fix(auth): remove duplicate /api/v1 from OAuth redirect URLs
  web/src/pages/DeviceClaim.tsx
  web/src/pages/Login.tsx
Due: none

fix(routing): render login page at root path and configure Vercel SPA routing
  web/src/App.tsx
  web/vercel.json
Due: none

fix(feed): improve scroll speed and add auto-center on load more
  plugin/src/ui/feed/PostsFeed.cpp
Due: none

fix(ci): move deploy-web workflow to root .github/workflows directory
  .github/workflows/deploy-web.yml
Due: none

chore: trigger Vercel redeploy to pick up vercel.json SPA routing config
  web/.redeploy
Due: none

chore: trigger Vercel redeploy with source code change
  web/.redeploy
  web/src/pages/Login.tsx
Due: none

redeploy
  web/.redeploy
  web/src/components/chat/MessageThread.tsx
  web/src/pages/Login.tsx
  web/vercel.json
Due: none

debug: add detailed logging to WebSocket token authentication
  backend/internal/websocket/handler.go
Due: backend
