Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin

Add Codecov config and badges to README
  README.md
  codecov.yml
Due: none

Increase coverage thresholds
  codecov.yml
Due: none

Switch Stream.io from V3 beta to stable V2 Feeds API
  backend/go.mod
  backend/go.sum
  backend/internal/stream/client.go
  backend/internal/stream/client_test.go
  backend/tests/integration/stream_integration_test.go
Due: backend

Fix workflow permissions for test-reporter
  .github/workflows/build.yml
Due: none

Improve NetworkClient HTTP handling and multipart uploads
  plugin/Source/NetworkClient.cpp
  plugin/Source/NetworkClient.h
  plugin/Tests/NetworkClientTest.cpp
Due: plugin

Mark Phase 1.4 (NetworkClient) as complete in PLAN.md
  notes/PLAN.md
Due: none

Add comprehensive unit tests for NetworkClient
  plugin/Tests/NetworkClientTest.cpp
Due: none

Auto-create test-results directory for CTest JUnit output
  plugin/CMakeLists.txt
Due: none

Add CMake presets for debug/release builds
  plugin/CMakeLists.txt
  plugin/CMakePresets.json
Due: none

Configure system-wide VST3 install paths for cmake --install
  plugin/CMakeLists.txt
Due: none

Exclude JUCE from install, make standalone optional
  plugin/CMakeLists.txt
  plugin/CMakePresets.json
Due: none

Implement AudioCapture for loop recording with circular buffer
  plugin/Source/AudioCapture.cpp
  plugin/Source/AudioCapture.h
  plugin/Source/PluginProcessor.cpp
  plugin/Source/PluginProcessor.h
  plugin/tests/AudioCaptureTest.cpp
Due: plugin

Add Feed UI components for social feed display
  plugin/Source/FeedDataManager.cpp
  plugin/Source/FeedDataManager.h
  plugin/Source/FeedPost.cpp
  plugin/Source/FeedPost.h
  plugin/Source/PluginEditor.cpp
  plugin/Source/PluginEditor.h
  plugin/Source/UploadComponent.cpp
  plugin/Source/UploadComponent.h
  plugin/tests/FeedDataTest.cpp
Due: plugin

Add NetworkClient multipart upload and CMake improvements
  plugin/.gitignore
  plugin/CMakeLists.txt
  plugin/Source/NetworkClient.cpp
  plugin/Source/NetworkClient.h
Due: plugin

Implement backend audio processing pipeline (Phase 2.4)
  backend/cmd/server/main.go
  backend/internal/audio/processor.go
  backend/internal/handlers/handlers.go
  backend/internal/queue/audio_jobs.go
  backend/internal/queue/audio_jobs_test.go
  backend/internal/queue/ffmpeg_helpers.go
Due: backend

Fix Stream client test imports
  backend/internal/stream/client_test.go
  backend/tests/integration/stream_integration_test.go
Due: none

Update PLAN.md with Phase 2.4 progress
  .cursorignore
  CLAUDE.md
  notes/PLAN.md
  notes/PLAN.old.md
Due: none

Fix plugin build and test improvements
  plugin/CMakeLists.txt
  plugin/Source/FeedPost.cpp
  plugin/tests/FeedDataTest.cpp
Due: plugin

Complete Phase 3.1: Feed Data Layer with UI integration
  .github/workflows/build.yml
  notes/PLAN.md
  plugin/Source/PostsFeedComponent.cpp
  plugin/Source/PostsFeedComponent.h
Due: plugin

Mark Phase 2.4 Backend Audio Processing as complete
  notes/PLAN.md
Due: none

Path conditions:
  backend: any of: backend/, but not: **/*_test.go, **/tests/**, **/mock_*.go, backend/cmd/**, plugin/tests/**, deps/**
  plugin: any of: plugin/Source/, but not: **/*_test.go, **/tests/**, **/mock_*.go, backend/cmd/**, plugin/tests/**, deps/**
