Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Implement OAuth polling for Linux compatibility
  backend/internal/handlers/auth.go
Due: backend, API Handlers

feat: add avatar proxy and unified timeline
  .claude/settings.json
  backend/cmd/server/main.go
  backend/internal/auth/oauth.go
  backend/internal/auth/service_test.go
  backend/internal/database/database.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  backend/internal/recommendations/gorse_rest_test.go
  backend/internal/seed/seeder.go
  backend/internal/timeline/timeline.go
  backend/internal/timeline/timeline_test.go
  plugin/source/PluginEditor.cpp
  plugin/source/models/FeedPost.cpp
  plugin/source/models/FeedPost.h
  plugin/source/network/NetworkClient.cpp
  plugin/source/stores/FeedDataManager.cpp
  plugin/source/stores/ImageCache.cpp
  plugin/source/stores/ImageCache.h
  plugin/source/ui/feed/Comment.cpp
  plugin/source/ui/feed/PostCard.cpp
  plugin/source/ui/profile/Profile.cpp
  plugin/source/ui/profile/Profile.h
Due: backend, Authentication, API Handlers, Database Layer, Data Models

don't commit the binaries
  backend/.gitignore
Due: backend

Manjaro-TWOPAL 3
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  plugin/source/audio/HttpAudioPlayer.cpp
  plugin/source/stores/ImageCache.cpp
Due: backend, API Handlers

fix: prevent crashes from async callbacks accessing deleted components
  plugin/CMakeLists.txt
  plugin/CMakePresets.json
  plugin/cmake/CompilerFlags.cmake
  plugin/cmake/Dependencies.cmake
  plugin/cmake/JuceHeaderHelper.cpp
  plugin/cmake/WindowsToolchain.cmake
  plugin/source/PluginEditor.cpp
  plugin/source/network/StreamChatClient.cpp
  plugin/source/ui/messages/MessagesList.cpp
  plugin/source/ui/social/UserCard.cpp
  plugin/source/ui/social/UserDiscovery.cpp
  plugin/source/util/Async.cpp
  plugin/source/util/Async.h
  plugin/source/util/OSNotification.cpp
Due: none

fix(ci): enable plugin coverage reporting to Codecov
  .github/workflows/plugin_tests.yml
  .gitmodules
  codecov.yml
Due: none

fix(plugin): fix test linking for KeyDetector and FeedDataManager
  plugin/cmake/Tests.cmake
Due: none

feat(ci): add reusable install-deps action for all platforms
  .github/actions/install-deps/action.yml
  .github/workflows/plugin_tests.yml
  .github/workflows/release.yml
Due: none

a new TODO list
  notes/SIDECHAIN_INSTAGRAM_TODO.md
Due: none

feat: implement private account option with follow requests
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/follow_requests.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
  notes/SIDECHAIN_INSTAGRAM_TODO.md
  plugin/src/ui/profile/EditProfile.cpp
  plugin/src/ui/profile/EditProfile.h
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
Due: backend, API Handlers, Database Layer, Data Models

feat(backend): add story download endpoint (19.1)
  backend/cmd/server/main.go
  backend/internal/handlers/handlers_test.go
  backend/internal/handlers/stories.go
Due: backend, API Handlers

feat(plugin): add getStoryDownloadInfo to NetworkClient (19.1)
  plugin/src/network/NetworkClient.cpp
  plugin/src/network/NetworkClient.h
Due: none

feat(backend): add user follow recommendations via Gorse collaborative filtering
  backend/cmd/server/main.go
  backend/internal/handlers/follow_requests.go
  backend/internal/handlers/handlers.go
  backend/internal/handlers/recommendations.go
  backend/internal/handlers/user.go
  backend/internal/recommendations/gorse_rest.go
Due: backend, API Handlers

feat(plugin): add audio download button to StoryViewer (19.1)
  plugin/src/ui/stories/StoryViewer.cpp
  plugin/src/ui/stories/StoryViewer.h
Due: none

feat(plugin): add Recommended to Follow section in UserDiscovery
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/DiscoveryClient.cpp
  plugin/src/ui/social/UserDiscovery.cpp
  plugin/src/ui/social/UserDiscovery.h
Due: none

feat(plugin): add Story Highlights feature
  plugin/src/models/Story.cpp
  plugin/src/models/Story.h
  plugin/src/network/NetworkClient.h
  plugin/src/network/api/StoriesClient.cpp
  plugin/src/ui/profile/Profile.cpp
  plugin/src/ui/profile/Profile.h
  plugin/src/ui/stories/CMakeLists.txt
  plugin/src/ui/stories/StoryHighlights.cpp
  plugin/src/ui/stories/StoryHighlights.h
  plugin/src/ui/stories/StoryViewer.cpp
  plugin/src/ui/stories/StoryViewer.h
Due: none

feat(backend): add Dockerfile and docker-compose backend service
  backend/Dockerfile
  backend/docker-compose.yml
  backend/gorse.toml
  backend/init.sql
Due: backend

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
