Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

debug: add detailed logging to WebSocket token authentication
  backend/internal/websocket/handler.go
Due: backend

fix(backend): implement database-backed aggregated timeline feed
  backend/internal/handlers/feed.go
  backend/internal/timeline/timeline.go
Due: backend, API Handlers

fix(ci): add retry logic to Docker Hub image pulls
  .github/workflows/build-and-push.yml
Due: none

fix(feed): extract and use has_more flag for infinite scroll
  plugin/src/stores/app/Feed.cpp
Due: none

fix(ci): bypass Docker Hub registry issues with direct server build
  .github/workflows/build-and-push.yml
Due: none

fix: use correct GitHub secret names for SSH deployment
  .github/workflows/build-and-push.yml
Due: none

fix(plugin): inject AppStore into Header and Settings components
  plugin/src/core/PluginEditor.cpp
Due: none

feat(testing): add test_plugin.sh to scripts and enhance header S3 photo logging
  plugin/src/ui/common/Header.cpp
  scripts/test_plugin.sh
Due: none

fix: enable WebSocket support in Caddy reverse proxy
  backend/Caddyfile
Due: backend

debug: add more detailed JWT parsing logs for WebSocket auth
  backend/internal/websocket/handler.go
Due: backend

fix(ci): use git reset --hard instead of stash in deployment workflow
  .github/workflows/build-and-push.yml
Due: none

fix(ci): push Docker image to Docker Hub after building
  .github/workflows/build-and-push.yml
Due: none

fix(ci): remove unnecessary docker push to Docker Hub
  .github/workflows/build-and-push.yml
Due: none

fix(infra): use locally-built Docker image instead of pulling from registry
  backend/docker-compose.prod.yml
Due: backend

feat(avatars): display user profile pictures in header, profile page, and post cards
  backend/internal/seed/seeder.go
  plugin/src/ui/feed/PostCard.cpp
  plugin/src/ui/feed/PostCard.h
Due: backend

fix(auth): decode JWT_SECRET from base64 before using
  backend/cmd/server/main.go
Due: none

fix(feed): add optimistic updates for follow/unfollow UI feedback
  plugin/src/stores/app/Feed.cpp
Due: none

fix(auth): use plain text JWT secret instead of base64
  backend/cmd/server/main.go
Due: none

debug(auth): add token signing and validation logging
  backend/internal/auth/service.go
  backend/internal/websocket/handler.go
Due: backend, Authentication

fix(oauth): make redirect URLs dynamic based on environment and API_BASE_URL
  backend/internal/auth/service.go
Due: backend, Authentication

feat(web): add user search to search page
  web/src/pages/Search.tsx
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
