Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

feat(web): complete search page and api integration
  web/src/api/SearchClient.ts
Due: none

fix(conversations): implement messages view auto-load and add members filter to queryChannels
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/StreamChatClient.cpp
Due: none

feat: Phase 5.1 - Make search public with optional authentication
  backend/cmd/cli/main.go
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  backend/internal/search/client.go
  backend/internal/search/document.go
Due: backend, API Handlers

feat: Phase 5.2 - Filter private content from search results
  backend/internal/handlers/discovery.go
Due: backend, API Handlers

docs: add comprehensive WebSocket & real-time features todo list
  notes/WEBSOCKET_REALTIME_IMPROVEMENTS.md
Due: none

feat: Phase 6.1 - Add Redis caching layer for search results
  backend/cmd/server/main.go
  backend/internal/search/cache.go
Due: backend

fix: Include search query in React Query key for proper cache invalidation
  web/src/pages/Search.tsx
Due: none

feat(websocket): wire up like/comment notifications with real-time engagement
  backend/internal/handlers/comments.go
  backend/internal/handlers/user.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/message.go
Due: backend, API Handlers

feat(websocket): add engagement metrics broadcasting
  backend/internal/handlers/comments.go
  backend/internal/handlers/user.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/message.go
Due: backend, API Handlers

feat(web): wire WebSocket listeners for engagement notifications
  web/src/api/websocket.ts
  web/src/hooks/useWebSocket.ts
Due: none

feat(backend): optimize search queries for better performance (Phase 6.2)
  backend/internal/search/client.go
Due: backend

feat(backend): add rate limiting to search endpoints (Phase 6.3)
  backend/cmd/server/main.go
  backend/internal/middleware/ratelimit.go
Due: backend

feat(backend): add rate limiting to search endpoints (Phase 6.3)
  backend/cmd/server/main.go
  backend/internal/handlers/discovery.go
  backend/internal/middleware/ratelimit.go
  backend/internal/search/cache.go
Due: backend, API Handlers

feat: add click/view tracking and complete Phase 1 WebSocket engagement
  backend/internal/handlers/metrics.go
  backend/internal/models/post_click.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/WebSocketClient.cpp
  plugin/src/network/WebSocketClient.h
  plugin/src/stores/app/WebSocket.cpp
Due: backend, API Handlers, Data Models

fix(backend): resolve compilation errors and clean up dependencies
  backend/cmd/server/main.go
  backend/go.mod
  backend/internal/handlers/comments.go
  backend/internal/handlers/metrics.go
  backend/internal/handlers/user.go
Due: backend, API Handlers

feat: implement phase 2 activity feed real-time updates with Stream.io integration
  backend/internal/handlers/feed.go
  backend/internal/handlers/user.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/message.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/network/WebSocketClient.cpp
  plugin/src/network/WebSocketClient.h
  web/src/api/websocket.ts
  web/src/hooks/useWebSocket.ts
Due: backend, API Handlers

feat(messaging): implement AppStore-based message persistence infrastructure
  backend/internal/websocket/message.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/stores/app/Chat.cpp
  plugin/src/stores/app/WebSocket.cpp
Due: backend

feat: implement phase 3 typing indicators with real-time updates
  backend/internal/websocket/handler.go
  plugin/src/network/WebSocketClient.cpp
  plugin/src/network/WebSocketClient.h
  web/src/api/websocket.ts
  web/src/components/comments/CommentComposer.tsx
  web/src/components/comments/CommentsPanel.tsx
  web/src/hooks/useWebSocket.ts
Due: backend

feat(backend): Phase 7.1 - Add search metrics tracking and dashboard endpoints
  backend/cmd/server/main.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/metrics.go
  backend/internal/metrics/manager.go
  backend/internal/metrics/search.go
Due: backend, API Handlers

feat(presence): implement Phase 4 - Plugin presence with DAW detection and web indicators
  backend/cmd/server/main.go
  plugin/src/core/PluginEditor.cpp
  plugin/src/core/PluginEditor.h
  plugin/src/util/CMakeLists.txt
  plugin/src/util/PresenceManager.cpp
  plugin/src/util/PresenceManager.h
  web/src/components/chat/NewMessageDialog.tsx
  web/src/components/presence/PresenceIndicator.tsx
  web/src/components/search/SearchUserCard.tsx
  web/src/hooks/usePresence.ts
  web/src/pages/Profile.tsx
Due: none

feat(backend): Phase 7.2 - Add search alerts system
  backend/cmd/server/main.go
  backend/internal/alerts/alerts.go
  backend/internal/alerts/evaluator.go
  backend/internal/handlers/alerts.go
Due: backend, API Handlers

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
