Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

fix(auth): add timeout and fallback for session restore
  web/src/stores/useUserStore.ts
Due: none

web bugs
  web/src/components/layout/Navigation.tsx
  web/src/stores/useUserStore.ts
  web/vite.config.ts
Due: none

refactor(web): consolidate discovery and trending into unified Feed page
  web/src/App.tsx
  web/src/api/UserProfileClient.ts
  web/src/components/layout/Navigation.tsx
  web/src/components/profile/EditProfileDialog.tsx
  web/src/hooks/useKeyboardShortcuts.ts
  web/src/pages/AuthCallback.tsx
  web/src/pages/Discovery.tsx
  web/src/pages/Feed.tsx
  web/src/pages/Trending.tsx
  web/src/stores/useUserStore.ts
Due: none

fix(backend): add error logging to CheckIsFollowing across discovery and feed
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
Due: backend, API Handlers

fix(web): restore dicebear fallback for users without profile pictures
  web/src/components/layout/Navigation.tsx
Due: none

fix(api): fix playlist API response formats and field naming
  backend/internal/handlers/playlists.go
  web/src/api/PlaylistClient.ts
Due: backend, API Handlers

fix(backend): add database validation for audio, muted users, and follow status
  backend/cmd/server/main.go
  backend/internal/handlers/audio.go
  backend/internal/handlers/discovery.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/mute.go
Due: backend, API Handlers

fix(security): fix critical authorization and injection vulnerabilities
  backend/internal/handlers/auth.go
Due: backend, API Handlers

fix: fix critical security and observability bugs SEC-2, SEC-3, SEC-5, ENG-2, ENG-3
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/recommendations.go
  backend/internal/middleware/admin.go
Due: backend, API Handlers

fix(web): fix post like/save UI updates and API compatibility
  web/src/api/FeedClient.ts
  web/src/api/client.ts
  web/src/hooks/mutations/useFeedMutations.ts
Due: none

debug(web): add console logging to like mutation for troubleshooting
  web/src/hooks/mutations/useFeedMutations.ts
Due: none

fix(web): make like/save mutations work with ANY query type in cache
  web/src/hooks/mutations/useFeedMutations.ts
Due: none

fix(backend): save posts to database and accept both UUID formats for likes
  backend/internal/handlers/feed.go
  backend/internal/handlers/reactions.go
  backend/internal/handlers/user.go
Due: backend, API Handlers

fix(web): correct profile endpoint in useUserStore
  web/src/stores/useUserStore.ts
Due: none

fix(web): correct pinned posts endpoint path
  web/src/api/FeedClient.ts
Due: none

fix(backend): use database UUID as post ID for proper like persistence
  backend/internal/stream/client.go
Due: backend, Stream.io Integration

web
  web/.gitignore
  web/src/components/profile/EditProfileDialog.tsx
  web/src/stores/useUserStore.ts
Due: none

fix: only update user profile fields that have actually changed
  backend/internal/handlers/user.go
Due: backend, API Handlers

feat: add profile picture upload to Settings page
  web/src/api/UserProfileClient.ts
  web/src/components/ui/avatar.tsx
  web/src/pages/Settings.tsx
Due: none

feat: add build checks to pre-commit hook
  git-hooks/pre-commit
Due: none
