Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

feat(plugin): add hidden synth easter egg audio components
  plugin/source/audio/ChordSequenceDetector.cpp
  plugin/source/audio/ChordSequenceDetector.h
  plugin/source/audio/SynthEngine.cpp
  plugin/source/audio/SynthEngine.h
Due: none

feat(plugin): add hidden synth UI component
  plugin/source/ui/synth/HiddenSynth.cpp
  plugin/source/ui/synth/HiddenSynth.h
Due: none

feat(plugin): integrate hidden synth into PluginProcessor
  plugin/source/PluginProcessor.cpp
  plugin/source/PluginProcessor.h
Due: none

feat(plugin): add similar producers section to UserDiscovery
  plugin/source/ui/social/UserDiscovery.cpp
  plugin/source/ui/social/UserDiscovery.h
Due: none

feat(plugin): extend FeedDataManager with recommendations
  plugin/source/stores/FeedDataManager.cpp
  plugin/source/stores/FeedDataManager.h
Due: none

build(plugin): update CMakeLists for new components
  plugin/src/audio/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
Due: none

test(backend): update handler tests for new endpoints
  backend/internal/handlers/feed_test.go
  backend/internal/handlers/handlers_test.go
Due: backend, API Handlers

deps(backend): update go module dependencies
  backend/go.mod
  backend/go.sum
Due: backend

config(backend): add Gorse service to docker-compose
  backend/docker-compose.yml
Due: backend

docs(backend): update README with new features
  backend/README.md
Due: backend

ci: add path filters to workflow triggers
  .github/workflows/backend_tests.yml
  .github/workflows/plugin_tests.yml
Due: none

chore: update gitignore for build artifacts
  .gitignore
Due: none

fix(docs): improve pkgsite generation script
  docs/_build/linkify-test/_static/_sphinx_javascript_frameworks_compat.js
  docs/_build/linkify-test/_static/jquery.js
  docs/generate-godoc.sh
  docs/generate-pkgsite.sh
Due: none

docs(notes): add README features completion plan
  docs/generate-pkgsite.sh
  notes/PLAN.README_features_TODOs.md
Due: none

Add package documentation to main page and fix asset paths
  .github/workflows/docs.yml
  backend/doc.go
  docs/generate-pkgsite.sh
Due: backend

Fix CI: let generate-pkgsite.sh handle pkgsite server startup
  .github/workflows/docs.yml
Due: none

Increase pkgsite startup timeout and improve error reporting
  docs/generate-pkgsite.sh
Due: none

Kill existing pkgsite processes before starting server
  docs/generate-pkgsite.sh
Due: none

Increase pkgsite startup timeout to 60s and improve health checks
  docs/generate-pkgsite.sh
Due: none

plugin builds
  backend/internal/handlers/audio.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/stories.go
  backend/internal/stream/client.go
  notes/PLAN.README_features_TODOs.md
  plugin/CMakeLists.txt
  plugin/source/PluginEditor.cpp
  plugin/source/PluginProcessor.cpp
  plugin/source/network/NetworkClient.cpp
  plugin/source/ui/feed/PostCard.cpp
  plugin/source/ui/recording/Recording.cpp
  plugin/source/ui/recording/Recording.h
  plugin/source/ui/recording/Upload.cpp
  plugin/source/ui/recording/Upload.h
  plugin/source/ui/social/UserDiscovery.cpp
  plugin/source/ui/stories/StoriesFeed.cpp
  plugin/source/ui/stories/StoryViewer.cpp
  plugin/source/ui/stories/StoryViewer.h
  plugin/source/util/Log.cpp
  plugin/source/util/Log.h
  plugin/src/audio/CMakeLists.txt
  plugin/src/models/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/src/util/CMakeLists.txt
Due: backend, API Handlers, Stream.io Integration
