Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin, Authentication, API Handlers, Stream.io Integration, Database Layer, Data Models, Plugin Core, Plugin Network, Plugin UI

Path conditions:
  backend: any of: backend/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  plugin: any of: plugin/Source/, plugin/tests/, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Authentication: any of: backend/internal/auth/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  API Handlers: any of: backend/internal/handlers/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Stream.io Integration: any of: backend/internal/stream/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Database Layer: any of: backend/internal/database/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Data Models: any of: backend/internal/models/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Core: any of: plugin/Source/**/*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin Network: any of: plugin/Source/NetworkClient.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*
  Plugin UI: any of: plugin/Source/PluginEditor.*, plugin/Source/*Indicator.*, but not: backend/cmd/**/*, backend/vendor/**/*, frontend/**/*, deps/**/*, *.md, .github/**/*, notes/**/*

laptop 6
  .claude/settings.json
  backend/internal/handlers/handlers_test.go
  backend/internal/handlers/user.go
  backend/internal/stories/cleanup_test.go
  backend/internal/stream/client.go
  notes/PLAN.md
  plugin/CMakeLists.txt
  plugin/source/PluginEditor.cpp
  plugin/source/PluginEditor.h
  plugin/source/ui/auth/Auth.cpp
  plugin/source/ui/common/Header.cpp
  plugin/source/ui/common/Header.h
  plugin/source/ui/feed/Comment.cpp
  plugin/source/ui/feed/PostCard.cpp
  plugin/source/ui/feed/PostsFeed.cpp
  plugin/source/ui/feed/PostsFeed.h
  plugin/source/ui/messages/AudioSnippetRecorder.cpp
  plugin/source/ui/messages/MessageThread.cpp
  plugin/source/ui/messages/MessageThreadComponent.cpp
  plugin/source/ui/messages/MessageThreadComponent.h
  plugin/source/ui/notifications/NotificationList.cpp
  plugin/source/ui/profile/Profile.cpp
  plugin/source/ui/profile/Profile.h
  plugin/source/ui/recording/Recording.cpp
  plugin/source/ui/search/Search.cpp
  plugin/source/ui/search/Search.h
  plugin/source/ui/social/FollowersList.cpp
  plugin/source/ui/social/UserCard.cpp
  plugin/source/ui/social/UserDiscovery.cpp
  plugin/source/ui/social/UserDiscovery.h
  plugin/source/ui/stories/CircularVisualization.cpp
  plugin/source/ui/stories/CircularVisualization.h
  plugin/source/ui/stories/NoteWaterfall.cpp
  plugin/source/ui/stories/NoteWaterfall.h
  plugin/source/util/UIHelpers.cpp
  plugin/source/util/UIHelpers.h
Due: backend, API Handlers, Stream.io Integration

move some docs around
  docs/AudioPluginHost.md
  docs/AudioPluginHost.rst
  docs/verify-doxygen-docs.sh
  notes/IMPLEMENTATION_STATUS.md
  plugin/UTIL_USAGE_ANALYSIS.md
Due: none

backend tests
  backend/Makefile
  backend/internal/auth/interface.go
  backend/internal/auth/mock_service.go
  backend/internal/handlers/feed.go
  backend/internal/handlers/feed_test.go
  backend/internal/handlers/handlers.go
  backend/internal/storage/s3_test.go
  backend/internal/stream/client.go
  backend/internal/stream/interface.go
  backend/internal/stream/mock_client.go
  backend/internal/stream/mock_client_test.go
Due: backend, Authentication, API Handlers, Stream.io Integration

Phase 8.3.11: Login flow improvements
  backend/internal/handlers/auth_test.go
  backend/internal/handlers/comments_test.go
  backend/internal/handlers/feed_test.go
  backend/internal/handlers/handlers_test.go
  backend/internal/stories/cleanup_test.go
  plugin/source/PluginEditor.cpp
  plugin/source/ui/auth/Auth.cpp
  plugin/source/ui/auth/Auth.h
  plugin/source/ui/profile/Profile.cpp
  plugin/source/ui/profile/ProfileSetup.cpp
  plugin/source/ui/profile/ProfileSetup.h
Due: backend, API Handlers

fix(ci): upload coverage even when tests fail, fix UUID test strings
  .github/workflows/build.yml
  backend/internal/handlers/comments_test.go
  backend/internal/handlers/handlers_test.go
Due: backend, API Handlers

refactor(backend): split handlers_test.go and add performance middleware
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/handlers/audio_handlers_test.go
  backend/internal/handlers/discovery_test.go
  backend/internal/handlers/handlers_test.go
  backend/internal/handlers/helpers_test.go
  backend/internal/handlers/notifications_test.go
  backend/internal/handlers/social_test.go
  backend/internal/handlers/stories_handlers_test.go
  backend/internal/handlers/user_test.go
  backend/internal/middleware/ratelimit.go
  backend/internal/middleware/ratelimit_test.go
  backend/internal/stories/cleanup_test.go
  notes/PLAN.md
Due: backend, API Handlers

rename some stuff, use presets in github workflows
  .github/workflows/build_and_test.yml
  .github/workflows/release.yml
Due: none

reorganize .github
  .github/workflows/backend_tests.yml
  .github/workflows/plugin_tests.yml
Due: none

Modularize CMake build system into library modules
  plugin/CMakeLists.txt
  plugin/cmake/CompilerFlags.cmake
  plugin/cmake/Dependencies.cmake
  plugin/cmake/Install.cmake
  plugin/cmake/JuceHeaderHelper.cpp
  plugin/cmake/Options.cmake
  plugin/cmake/Tests.cmake
  plugin/source/ui/messages/MessageThreadComponent.cpp
  plugin/src/audio/CMakeLists.txt
  plugin/src/core/CMakeLists.txt
  plugin/src/models/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/src/util/CMakeLists.txt
Due: none

Make POSITION_INDEPENDENT_CODE conditional on build type
  plugin/src/audio/CMakeLists.txt
  plugin/src/models/CMakeLists.txt
  plugin/src/network/CMakeLists.txt
  plugin/src/stores/CMakeLists.txt
  plugin/src/ui/CMakeLists.txt
  plugin/src/util/CMakeLists.txt
Due: none

Make Ninja the default generator when available
  Makefile
  plugin/CMakeLists.txt
  plugin/CMakePresets.json
Due: none

Improve Ninja generator detection messaging
  plugin/CMakeLists.txt
Due: none

Add CMake presets documentation to CLAUDE.md
  CLAUDE.md
Due: none

Set up unified documentation with GitHub Pages deployment
  .github/workflows/docs.yml
  docs/backend/index.rst
  docs/backend/overview.rst
  docs/conf.py
  docs/index.rst
Due: none

Fix plugin API reference path in documentation index
  docs/index.rst
Due: none

Improve error handling in godoc generation step
  .github/workflows/docs.yml
Due: none

Fix GitHub Pages environment configuration
  .github/workflows/docs.yml
Due: none

Remove environment specification from deploy job
  .github/workflows/docs.yml
Due: none

stories backend implementation work
  backend/cmd/server/main.go
  backend/internal/database/database.go
  backend/internal/handlers/stories.go
  backend/internal/handlers/user.go
  backend/internal/models/user.go
Due: backend, API Handlers, Database Layer, Data Models

some cmake docs
  docs/STRUCTURE.md
  docs/cmake-modularization.md
  notes/PLAN.md
Due: none
