Repository zfogg/sidechain: changes, and which Codecov flags are due for each by the changed paths.
All: backend, plugin

codecov.yml:

# Codecov configuration for Sidechain
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        if_ci_failed: error
      backend:
        flags:
          - backend
        target: auto
        threshold: 5%
      plugin:
        flags:
          - plugin
        target: auto
        threshold: 10%  # More lenient for C++ plugin code
    patch:
      default:
        target: 50%
        threshold: 10%

# Flag management
flags:
  backend:
    paths:
      - backend/
    carryforward: true
  plugin:
    paths:
      - plugin/Source/
    carryforward: true

# Ignore paths from coverage
ignore:
  - "**/*_test.go"
  - "**/tests/**"
  - "**/mock_*.go"
  - "backend/cmd/**"
  - "plugin/tests/**"
  - "deps/**"

# Comment configuration for PRs
comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# GitHub checks
github_checks:
  annotations: true

Fix lcov coverage generation for JUCE internal sources
  .github/workflows/build.yml
Due: none

Implement Phase 3.2: Post Card Component
  notes/PLAN.md
  plugin/CMakeLists.txt
  plugin/Source/PostCardComponent.cpp
  plugin/Source/PostCardComponent.h
  plugin/Source/PostsFeedComponent.cpp
  plugin/Source/PostsFeedComponent.h
Due: plugin

Add AuthComponent for login/signup UI
  plugin/CMakeLists.txt
  plugin/Source/AuthComponent.cpp
  plugin/Source/AuthComponent.h
Due: plugin

Refactor PluginEditor to use AuthComponent
  plugin/Source/PluginEditor.cpp
  plugin/Source/PluginEditor.h
Due: plugin

Implement Phase 3.3 Audio Playback Engine and Phase 3.4 Social Interactions
  notes/PLAN.md
  plugin/CMakeLists.txt
  plugin/Source/AudioPlayer.cpp
  plugin/Source/AudioPlayer.h
  plugin/Source/PluginEditor.cpp
  plugin/Source/PluginProcessor.cpp
  plugin/Source/PluginProcessor.h
  plugin/Source/PostCardComponent.cpp
  plugin/Source/PostCardComponent.h
  plugin/Source/PostsFeedComponent.cpp
  plugin/Source/PostsFeedComponent.h
Due: plugin

Add auto-play, audio focus, and keyboard shortcuts
  plugin/Source/AudioPlayer.cpp
  plugin/Source/AudioPlayer.h
  plugin/Source/PluginProcessor.cpp
  plugin/Source/PluginProcessor.h
  plugin/Source/PostsFeedComponent.cpp
  plugin/Source/PostsFeedComponent.h
Due: plugin

Add heart burst animation for likes (3.4.2)
  plugin/Source/PostCardComponent.cpp
  plugin/Source/PostCardComponent.h
Due: plugin

Implement Phase 4.2: Profile UI (Plugin)
  notes/PLAN.md
  plugin/CMakeLists.txt
  plugin/Source/EditProfileComponent.cpp
  plugin/Source/EditProfileComponent.h
  plugin/Source/NetworkClient.cpp
  plugin/Source/NetworkClient.h
  plugin/Source/ProfileComponent.cpp
  plugin/Source/ProfileComponent.h
Due: plugin

Backend profile and follow system improvements
  backend/internal/auth/service_test.go
  backend/internal/handlers/handlers.go
  backend/internal/models/user.go
  backend/internal/stream/client.go
  plugin/Source/FeedPost.h
Due: backend, plugin

Update PLAN.md with status report (Dec 4, 2024)
  notes/PLAN.md
  plugin/Source/FeedPost.cpp
  plugin/Source/PostCardComponent.cpp
  plugin/Source/PostCardComponent.h
  plugin/Source/PostsFeedComponent.cpp
Due: plugin

Update gitignore to exclude local binaries
  .gitignore
  notes/PLAN.md
Due: none

Add play count tracking (3.4.7)
  plugin/Source/NetworkClient.cpp
  plugin/Source/NetworkClient.h
  plugin/Source/PostsFeedComponent.cpp
  plugin/Source/PostsFeedComponent.h
Due: plugin

Update PLAN.md with Phase 3.3 and 3.4 progress
  notes/PLAN.md
Due: none

feat(backend): implement WebSocket infrastructure (Phase 5.1)
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/websocket/client.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/hub.go
  backend/internal/websocket/message.go
  backend/internal/websocket/websocket_test.go
  notes/PLAN.md
Due: backend

Add notification feeds, aggregated timelines, and graceful test skipping
  backend/internal/handlers/handlers.go
  backend/internal/stream/client.go
  backend/internal/stream/client_test.go
  plugin/Source/NotificationBellComponent.cpp
  plugin/Source/NotificationBellComponent.h
  plugin/Source/NotificationListComponent.h
  plugin/Source/WebSocketClient.cpp
  plugin/Source/WebSocketClient.h
Due: backend, plugin

docs: add missing unit test documentation to PLAN.md
  notes/PLAN.md
  plugin/CMakeLists.txt
Due: none

feat(plugin): integrate UserDiscoveryComponent into main editor (Phase 4.4)
  notes/PLAN.md
  plugin/Source/PluginEditor.cpp
  plugin/Source/PluginEditor.h
  plugin/Source/PostsFeedComponent.cpp
  plugin/Source/PostsFeedComponent.h
  plugin/Source/UserCardComponent.cpp
  plugin/Source/UserCardComponent.h
  plugin/Source/UserDiscoveryComponent.cpp
  plugin/Source/UserDiscoveryComponent.h
Due: plugin

docs: mark Phase 5.2 (Plugin WebSocket Client) as complete
  notes/PLAN.md
Due: none

feat: implement Phase 4.1/4.3 profile updates and Phase 5.3 presence system
  backend/cmd/server/main.go
  backend/internal/handlers/auth.go
  backend/internal/handlers/handlers.go
  backend/internal/websocket/handler.go
  backend/internal/websocket/presence.go
  notes/PLAN.md
  plugin/Source/EmojiReactionsPanel.cpp
  plugin/Source/EmojiReactionsPanel.h
  plugin/Source/NotificationListComponent.cpp
  plugin/Source/UploadComponent.cpp
  plugin/Source/UploadComponent.h
  plugin/Source/UserCardComponent.cpp
  plugin/Source/UserCardComponent.h
Due: backend, plugin

feat(plugin): add TimeUtils for human-readable time formatting
  plugin/CMakeLists.txt
  plugin/Source/TimeUtils.cpp
  plugin/Source/TimeUtils.h
Due: plugin
